* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
    color: #000;
    background: #F0F0F0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix { 
    zoom: 1; 
}

*:first-child+html .clearfix {
    zoom: 1; 
}

#container {
    width: 640px;
    margin: 30px auto;
    background-color: #FAFAFA;
    border: 1px #BCBCBC solid;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 5px 5px 5px #E6E6E6;
    -moz-box-shadow: 5px 5px 5px #E6E6E6;
    box-shadow: 5px 5px 5px #E6E6E6;
    padding: 25px;
}

.title {
    padding-left: 10px;
}

#logo {
    background: url(/img/yui-logo.png) no-repeat;
    height: 32px;
    width: 64px;
    float: left;
}

.title h1 {
    margin: 0px 20px 20px 20px;
    padding-top: 5px;
    font-family: 'PT Sans','DejaVu Sans','Bitstream Vera Sans',Verdana,sans-serif;
    font-size: 20px;
    color: #30418C;
}

h2 {
    margin-bottom: 15px;
    font-family: 'Helvetica';
    font-size: 14px;
    color: #30418C;
}

li {
    list-style-image: none;
    list-style-type: none;
    list-style: none;
}

#input-container {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    margin: 10px;
    padding: 10px 10px 15px 15px;
    width: 600px;
    background-color: #DFE0E8;
}

#input-container a {
    text-decoration: none;
}

#new-user, #new-email {
    width: 230px;
}

#new-post {
    width: 480px;
}

.post-input {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    border: none;
    -webkit-box-shadow: 0 0 5px #666 inset; 
    -moz-box-shadow: 0 0 5px #666 inset; 
    box-shadow: 0 0 5px #666 inset; 
    height: 30px;
    font-size: 12px;
    padding-left: 15px;
    margin-right: 8px;
    outline: none;
}

.new-btn {
    color: #FFF;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    background: -webkit-gradient(linear, left top, left bottom, from(#B1B8F2), to(#8F96C7));
    background: -moz-linear-gradient(top, #B1B8F2, #8F96C7);
    background: -o-linear-gradient(top, #B1B8F2, #8F96C7);
    -webkit-box-shadow: 0 0 5px #666 inset;
    -moz-box-shadow: 0 0 5px #666 inset;
    box-shadow: 0 0 5px #666 inset;
    font-size: 12px;
    border: none;
    height: 30px;
    width: 80px;
}

#posts-header {
    padding-top: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #E8E8E8;
}

#posts-title {
    margin-left: 20px;
}

.post-view {
    margin: 10px;
    border-bottom: 1px solid #E8E8E8;
    padding: 15px;
    padding-top: 5px;
    width: 600px;
}

.post-avatar {
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.post-container {
    float: left;
    font-family: "Helvetica";
    width: 540px;
}

.post-profile-name {
    font-size: 13px;
}

.current-user {
    color: #30418C;
}

.post-delete {
    text-decoration: none;
    width: 20px;
    height: 20px;
    float: left;
}

.delete-icon {
    width: 20px;
    height: 20px;
    background: url(/img/destroy.png) no-repeat;
    display: block;
    opacity: 0.6;
}

.delete-icon:hover {
    opacity: 1;
}

.post-text {
    float: left;
    width: 500px;
    font-size: 13px;
}

.post-edit,
.editing .post-text {
    display: none;
}

.editing .post-edit {
    float: left;
    border: none;
    -webkit-box-shadow: 0 0 5px #666 inset;
    -moz-box-shadow: 0 0 5px #666 inset;
    box-shadow: 0 0 5px #666 inset;
    height: 30px;
    width: 430px;
    padding-left: 10px;
    margin-right: 70px;
    display: block;
    outline: none;
}
