<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

<style type="text/css">
{{>form-without-buttons-css}}
</style>

<div class="intro">
    <p>
        {{description}}
    </p>
    <p>
        Just fill in a username and passport and press 'enter'. By specifying the 'formconfig.submitonenter=true' (of the password-attribute), we manage to auto-submit the model.
    </p>
</div>

{{>form-without-buttons-html}}

<h2>Code</h2>
```
{{>form-without-buttons-js}}
```

<h2>Complete Example Source</h2>
```
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
<style type="text/css">
{{>form-without-buttons-css}}
</style>

<body>

{{>form-without-buttons-html}}

<script>
{{>form-without-buttons-js}}
</script>

</body>
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>form-without-buttons-js}}
</script>