<div class="intro component">
    <p>
        This module adds most of the higher-order functions from `array-extras` to the YUI Global Object, so you can use them for arrays, objects, and NodeLists.
    </p>
</div>

{{>getting-started}}
