<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://raw.github.com/nbprithv/introtour-ui/master/css/yui3-cssbuttons.css">
		<link rel="stylesheet" type="text/css" href="https://raw.github.com/nbprithv/introtour-ui/master/css/gallery-introtour-ui.css">
	</head>
	<body>
        <div id="hello1">Start here.</div>
        <br><br><br><br><br><br><br><br><br><br>
        <div id="hello2">The go here.</div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div id="hello3">This is also useful.</div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div style="margin-left:600px;" id="hello4">Save changes</div>
		<script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
		<script src="https://raw.github.com/nbprithv/introtour-ui/master/yui/gallery-introtour-ui-yui.js"></script>
		<script type="text/javascript" src="https://raw.github.com/nbprithv/introtour-ui/master/yui/testintrotour.js"></script>
	</body>
</html>
