<style type="text/css">
{{>index-css}}
</style>

<div class="intro">
    <p>
    {{description}}
    </p>
    <p>
       <b>Notes:</b>
       <ul>
           <li>You need to load this module <u>together with 'gallerycss-itsa-base'</u> in order to work.</li>
           <li>These fonticons always need to be declared inside a <u>i-element</u>, see the examples.</li>
           <li>Special thanks to <a href='http://fontello.com' target='_blank'>http://fontello.com</a> by which means this gallerymodule is created</li>
       </ul>
    </p>
</div>

{{>getting-started}}

<h2>Description</h2>
<p>By adding this module, you have some classnames at your proposal, which can be used to create icons. The css only works if you define an empty <code>i-element</code> and add the right class to it. Typically the icons are inside a <code>button-element</code> but this is not required.
</p>
<p>
    Be aware of the load-delay. Iconfonts-modules have are relative big-sized. To speed up initial loading, it is advizable to load the css-modules in a second separate Y.use() statement without a callback.
</p>

<h2>Available iconclasses</h2>
    <ul>
        <li><i class="itsaicon-users-add"> </i><code>itsaicon-users-add</code></li>
        <li><i class="itsaicon-users-dislike"> </i><code>itsaicon-users-dislike</code></li>
        <li><i class="itsaicon-users-download"> </i><code>itsaicon-users-download</code></li>
        <li><i class="itsaicon-users-love"> </i><code>itsaicon-users-love</code></li>
        <li><i class="itsaicon-users-love-transparent"> </i><code>itsaicon-users-love-transparent</code></li>
        <li><i class="itsaicon-users-like"> </i><code>itsaicon-users-like</code></li>
        <li><i class="itsaicon-users-remove"> </i><code>itsaicon-users-remove</code></li>
        <li><i class="itsaicon-users-remove-round"> </i><code>itsaicon-users-remove-round</code></li>
        <li><i class="itsaicon-users-star"> </i><code>itsaicon-users-star</code></li>
        <li><i class="itsaicon-users-star-transparent"> </i><code>itsaicon-users-star-transparent</code></li>
        <li><i class="itsaicon-users-upload"> </i><code>itsaicon-users-upload</code></li>
        <li><i class="itsaicon-users-user"> </i><code>itsaicon-users-user</code></li>
        <li><i class="itsaicon-users-users"> </i><code>itsaicon-users-users</code></li>
        <li><i class="itsaicon-users-whois"> </i><code>itsaicon-users-whois</code></li>
    </ul>

<h2>Usage</h2>
```html
<button><i class="itsaicon-users-users"></i></button>
```

```js
YUI(yuiconfig).use('yui-base', function(Y) {
    Y.use('gallerycss-itsa-base', 'gallerycss-itsa-users'); // now the iconfonts will load asynchroniously

    // code can be executed
    ...

});
```
<h3>Changing size</h3>
<p>Iconfonts are handled as regular characters. The font size is detemined by the calculated font-size value of the element. To change the icon-size, you need to change the font-size.
</p>
<p>
The iconfont has its definition inside <code>.itsaicon-iconname:before</code>. You can set a fontsize here, or at a ancestor-node, depending what needs to be set.
</p>
```css
button {
    font-size: 120%;
}
.itsaicon-users-users:before {
    font-size: 150%;
}
```

<h3>Changing color</h3>
<p>Iconfonts are handled as regular characters. The iconcolor is detemined by the calculated color-value of the element. To change the icon-color, you need to change the color of the icon.
</p>
<p>
The icon-color has its definition inside <code>.itsaicon-iconname:before</code>. You can set a color here, or at a ancestor-node, depending what needs to be set.
</p>
```css
button {
    color: #F00;
}
.itsaicon-users-users:before {
    color: #0F0;
}
```
<h2>Creating imagebuttons (purecss compatible)</h2>
    <p>
        Imagebuttons can be created by creating a button and add an empty <code>i-element</code> inside. To be sure the space arround the iconfont gets right, you need to add the right classname to the button as well.
    </p>
    <p>
        These iconfonts work perfectly well with pure-css. So you can add the class <code>pure-button</code> to the button-element. But you don't need to.
    </p>

<h3>Iconbuttons without text</h3>
```html
<button<i class="itsaicon-users-users"></i></button>
```

<h3>Textbuttons with a left-icon</h3>
```html
<button class="itsabutton-iconleft"><i class="itsaicon-users-users"></i>Users</button>
```

<h3>Textbuttons with a right-icon</h3>
```html
<button class="itsabutton-iconright">Users<i class="itsaicon-users-users"></i></button>
```

<h3>Rounded buttons with a border</h3>
    <p>
        Bordered and rounded buttons can be made by using special button-classes supllied by <a href='http://gallerydocs.itsasbreuk.nl/gallerycss-itsa-base/index.html' target='_blank>'>gallerycss-itsa-base</a>.
    </p>
```html
<button class="pure-button itsabutton-bordered itsabutton-rounded"><i class="itsaicon-users-users"></i></button>
```
<h2>Licences</h2>
    Copyright (c) 2013 <a href="http://itsasbreuk.nl">Its Asbreuk</a><br />
    Copyright (c) 2013 <a href="http://developer.yahoo.com/yui/license.html">YUI BSD License</a>
<h3>Font licence info</h3>
<ul class='disc'>
   <li>Entypo<br />
           Copyright (C) 2012 by Daniel Bruce<br />
           Author:    Daniel Bruce<br />
           License:   CC BY-SA (<a href='http://creativecommons.org/licenses/by-sa/2.0/' target='_blank'>http://creativecommons.org/licenses/by-sa/2.0/</a>)<br />
           Homepage:  <a href='http://www.entypo.com' target='_blank'>http://www.entypo.com</a>
    </li>
</ul>

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>index-js}}
</script>