<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-backward"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-backward-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-forward"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-forward-round"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-headphones"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-headphones2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-headphones3"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-headphones4"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note3"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note4"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note5"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note6"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note7"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-note8"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-pause"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-pause-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-play"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-play-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-record-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-stop"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-stop-round"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-to-end"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-to-first"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-to-last"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-to-start"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-volume"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-volume-down"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-volume-off"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-volume-up"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-itunes"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-music-soundcloud"></i></button>
<br />