<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-amazon"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-android"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-bitbucket"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-bitcoin"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-blogger"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-call"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-call2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-call3"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-cloudapp"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-duckduckgo"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-delicious"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-dropbox"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-drupal"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-ebay"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-email"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-facebook"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-flickr"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-git"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-github"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-gplus"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-guest"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-headphones"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-instagram"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-linkedin"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-macstore"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-mobile"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-myspace"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-openid"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-opentable"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-paypal"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-podcast"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-reddit"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-rss"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-skype"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-soundcloud"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-spotify"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-tumblr"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-twitter"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-vimeo"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-wikipedia"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-wordpress"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-social-youtube"></i></button>