<h2>User Story</h2>

<p><strong>[RES6]</strong>As a search user, I want to be able to see the relative date/time of publication of a news article. That time should be presented such as "36 minutes ago".<p>
