<h2>Module Include</h2>

{{>module-inclusion}}

<h2>Example</h2>

{{>sample}}

<h2>Template source</h2>

The following code illustrates the code inside the template profile-info.html:

```
<div>
    <span>Name: $name</span>
    <span>Position: $position</span>
</div>
```
