<div class="intro component">
    <p>
    QueryBuilder provides a way for users to construct a set of filter conditions.
    </p>
</div>

{{>getting-started}}

<h2 id="using">Using the Query Builder module</h2>

<h3 id="modules">Query Builder module overview</h3>

<p>
    The widget is constructed with a set of variables. For each item that the user adds to the list, the user chooses a variable and then a condition for that variable. It is up to the application to decide whether the conditions should be AND'ed or OR'ed.
</p>
