YUI({{{yuiParams}}}).use({{{useParams}}}, function (Y) {
    var clone = Y.one('#container').cloneNode(true),

    container = new Y.Bottle.Container({
        srcNode: Y.one('#container'),
        width: 300,
        height: 400,
        render: true
    }).plug(Y.Plugin.PushPop),

    container2 = new Y.Bottle.Container({
        srcNode: clone
    });

    container.pushpop.push(container2);
});
