<button class="pure-button itsabutton-bordered"><i class="itsaicon-datetime-date"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-datetime-time"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-datetime-datetime"></i></button>