    <div data-role="header" data-position="fixed">
        <div class="left" id="fbtn"><img src="../assets/img/hd_icon4.png" align="absmiddle"/></div>
        <div class="center"><img src="../assets/img/yahoo_logo.png" align="absmiddle"/> Mobile</div>
        <div class="right" id="ufbtn"><img src="../assets/img/hd_icon5.png" align="absmiddle"/></div>
    </div>

    <div data-role="body">
        <ul>
            <li>
                <h2><img src="../assets/img/16_16_1.png" />Item1</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_2.png" />Item2</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_3.png" />Item3</h2>
            </li>

            <li class="divider">
                <h2>10 Streams</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_4.png" />Item4</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_5.png" />Item5</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_6.png" />Item6</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_7.png" />Item7</h2>
            </li>

            <li class="divider">
                <h2>5 Apps</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_8.png" />App1</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_9.png" />App2</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_10.png" />App3</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_4.png" />App4</h2>
            </li>

            <li>
                <h2><img src="../assets/img/16_16_5.png" />App5</h2>
            </li>
        </ul>
    </div>

    <div data-position="fixed" data-role="footer">
        Shortcut footer
    </div>
