    <div data-role="header" data-position="fixed">
        <div class="left" id="fbtn"><img src="../assets/img/hd_icon4.png" align="absmiddle"/></div>
        <div class="center"><img src="../assets/img/yahoo_logo.png" align="absmiddle"/> Mobile</div>
        <div class="right" id="ufbtn"><img src="../assets/img/hd_icon5.png" align="absmiddle"/></div>
    </div>

    <div data-role="body">
        <ul>
            <li>
                <h2><img src="../assets/img/16_16_1.png" /><select><option>OK</option><option>NO</option></select></h2>
            </li>
        </ul>
    </div>

    <div data-position="fixed" data-role="footer">
        Shortcut footer
    </div>
