<!doctype html>
<html>
    <head>
        <title>gallery-nav-assist</title>
        <link href='../../../../build/gallery-nav-assist/gallery-nav-assist.css' rel='stylesheet' type='text/css'>
        <style type="text/css">
        #navtabs div {display: inline-block; margin-left:20px; padding:10px; border:1px solid #efefef;}
        </style>
    </head>
    <body class="yui3-skin-sam">

        <div id="demo-page">
            <div id="tabs">
                <div><a href="#Tab1" id="tab1">Lorem Ipsum</a></div>
                <input type="text" id="testinputbox"/>
            </div>
            <hr>
            <div id="header">
                <h2>Lorem Ipsum</h2>
                <h2>Lorem Ipsum</h2>
            </div>
            <hr>
            <div id="sidebar">
                <h2>Lorem Ipsum</h2>
                <h2>Lorem Ipsum</h2>
            </div>
            <hr>
            <div id="eastrail">
                <h2 id="elem1"><a style="display:block;" href="http://www.yahoo.com/">Lorem Ipsum</a></h2>
                <h2 id="elem2"><a style="display:block;" href="http://www.yahoo.com/">Lorem Ipsum</a></h2>
            </div>
            <hr>
            <div id="main">
                <div class="bright"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p></div>
                <div class="dark"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p></div>
            </div>
            <hr>
            <div id="navtabs">
                <div>tab1</div>
                <div>tab2</div>
            </div>
            <hr>
            <ul id="links">
                <li>Lorem Ipsum</li>
            </ul>
            <hr>
        </div>
        <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-debug.js"></script>
        <script src="../../../../build/gallery-nav-assist/gallery-nav-assist-debug.js"></script>
    </body>
</html>
