/* horizontal */

.yui-accordion-horiz
{
	position: relative;
	overflow: hidden;
}

.yui-accordion-horiz .yui-accordion-title
{
	position: relative;
	overflow: hidden;
	float: left;
}

.yui-accordion-horiz .yui-accordion-content-clip
{
	position: relative;
	overflow: hidden;
	float: left;
}

.yui-accordion-horiz .yui-accordion-content
{
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

/* vertical */

.yui-accordion-vert
{
	position: relative;
	overflow: hidden;
}

.yui-accordion-vert .yui-accordion-title
{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.yui-accordion-vert .yui-accordion-content-clip
{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.yui-accordion-vert .yui-accordion-content
{
	position: relative;
	width: 100%;
	overflow: auto;
}

/* hack for 3.0 -- unnecessary once srcNode becomes available in 3.1 */

.yui-accordion ul.yui-accordion-content
{
	margin: 0;
	border: 0;
	padding: 0;
}

.yui-accordion ul.yui-accordion-content li
{
	list-type-style: none;
}