{{>bottle-page}}
<div id="overlayMenu2" data-role="overlay" {{{overlayAttrs}}}>
 <div data-role="container">2
  {{>example-overlay-innertext-non-fullpage}}
 </div>
</div>
<div id="overlayMenu" data-role="overlay" {{{overlayAttrs}}}>
 <div data-role="container">
  {{>example-overlay-innertext}}
 </div>
</div>
{{>test-manual}}
