<div class="intro component">
    <p>
        Binds two instances of `Y.DateTime` together so they define a valid date range.  The start date must define the blackout ranges, if any.
    </p>
</div>

{{>getting-started}}
