<div class="intro">
    <p>This example shows how to plugin <code>ITSAToolbar</code> and create a GUI for the Rich Text Editor.</p>
</div>

<div id="demo" class="example yui3-skin-sam">
</div>


<h2>Code</h2>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

```
{{>simple-example-js}}
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>simple-example-js}}
</script>