/* 

CSS Typography
Simple CSS for Typography
Author: Tilo Mitra

*/
.splash {
  padding: 3em 1.6em;
}
.splash-button {
  font-size: 120%;
}
.splash-head {
  font-size: 300%;
  margin: 0.3em 0 0;
  line-height: 1.2em;
}
.splash-subhead {
  color: #999;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0.5em 0;
}
.splash-dark {
  background: #222222;
  color: #ffffff;
}
.splash-dark .splash-subhead {
  color: #888888;
}
/* Parent selector that everything must fall within. */
.csstype {
  /* Subheader Styling */

  /* Blockquote Styling */

  /* Adds the little dash before the cite */

}
.csstype p {
  margin-top: 0.5em;
  line-height: 1.4em;
}
.csstype .muted,
.csstype .subtitle {
  color: #999;
}
.csstype .title {
  margin-bottom: 0;
}
.csstype .subtitle {
  margin-top: 0;
  font-weight: normal;
}
.csstype .subhead {
  color: #999;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
  display: inline-block;
}
.csstype blockquote {
  font-family: "Georgia", serif;
  color: #666;
  font-style: italic;
  line-height: 1.8em;
  border-left: 5px solid #ddd;
  padding-left: 1.5em;
}
.csstype blockquote cite {
  font-size: 80%;
  display: block;
  font-family: sans-serif;
  font-style: normal;
}
.csstype .quote cite:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
  margin-right: 0.3em;
}
.csstype code,
.csstype pre {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  background: #f3f3f3;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
}
.csstype code {
  border: none;
  margin: 0 0.2em;
}
.csstype pre {
  border: 1px solid #ddd;
  border-radius: 0;
  white-space: pre-line;
}
.csstype .ribbon {
  padding: 0.7em;
  border-radius: 0;
}
.csstype .ribbon-success {
  background: #56be8e;
  color: #143425;
}
.csstype .ribbon-success a {
  color: #296b4d;
}
.csstype .ribbon-error {
  background: #fa7373;
  color: #9b0606;
}
.csstype .ribbon-error a {
  color: #e50808;
}
.csstype .ribbon-warn {
  background: #fae057;
  color: #816d04;
}
.csstype .ribbon-warn a {
  color: #cbac06;
}
.csstype dl dt {
  font-weight: bold;
}
.csstype dl dd {
  margin: 0 0 0 0.75em;
}
.csstype .list {
  margin: 0.5em 0;
}
.csstype .plain {
  list-style: none;
}
.csstype .text-left {
  text-align: left;
}
.csstype .text-center {
  text-align: center;
}
.csstype .text-right {
  text-align: right;
}
