@media (max-width: 480px) {
  .splash {
    padding: 1.5em 0.8em;
    text-align: center;
  }
  .splash-head {
    font-size: 200%;
  }
  .splash-subhead {
    font-size: 130%;
  }
  .splash-button {
    font-size: 100%;
  }
  .dl dd {
    margin-left: 0;
  }
  .dl dt {
    margin-top: 0.5em;
  }
  .quote {
    margin: 0.5em 0;
    line-height: 1.6em;
  }
}
