<div class="intro component">
    <p>
        This module displays hierarchical data in a table.  "Treeble" comes from merging "tree" and "table."
    </p>
</div>

{{>getting-started}}

<h2 id="using">Using the Treeble module</h2>

<h3 id="modules">Treeble module overview</h3>

<p>
    Treeble extends `Y.DataTable`, so all DataTable plugins work with Treebles.
</p>
