<button id="modelnonedit" class="pure-button">Non-editable template</button> <button id="modeledit" class="pure-button">Editable template</button>
<form id='viewcont' class='pure-form pure-form-aligned pure-form-showinvalid pure-form-showvalid itsaviewmodel-styled'></form>