#viewcont {
    min-height: 75px;
}
#viewcont ul.tracks {
    border: solid 1px #666;
    padding: 0;
}
#viewcont ul.tracks li {
    list-style: none;
    padding: 1px 10px;
}
#viewcont ul.tracks li.even {
    background-color: #F0F1F8;
}
#viewcont ul.tracks li.odd {
    background-color: #FFF;
}