.viewcont {
    height: 260px;
    margin-bottom: 20px;
}
.smallcol {
    width: 1px;
}
.viewcont button[value="submit"] {
    color: #900;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.viewcont .itsaicon-form-submit:before {
    color: #00F;
    text-shadow: 1px 1px #FFF, -1px 1px #FFF, 1px -1px #FFF, -1px -1px #FFF;
}
.bell {
    color: #FF0;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}
.bell .itsaicon-special-bell:before {
    color: #D00;
    text-shadow: none;
}
.bell .itsaicon-special-bell:before {
    color: #D00;
    text-shadow: none;
}