.viewcont {
    width: 134px;
    display: block;
    margin-bottom: 20px;
}
.loggedin {
    font-size: 125%;
    color: #333;
    text-align: center;
    padding-top: 45px;
}
.hiddenicon {
    visibility: hidden;
}
/* making form-element floating, so the #spinner can be set to 'absolute' while retaint inside the form */
.viewcont form {
    position: relative;
}
#spinner {
    position: absolute;
    right: 0;
    top: -2px;
    font-size: 140%;
}