<form id='viewcontedit' class='pure-form pure-form-aligned pure-form-showinvalid pure-form-showvalid itsaviewmodel-styled viewcont'></form>
<form id='viewcont' class='pure-form pure-form-aligned pure-form-showinvalid pure-form-showvalid itsaviewmodel-styled viewcont'></form>