.pure-button.pure-button-big {
    font-size: 200%;
}

.itsaicon-special-bookmark-small:before {
    color: #1e5799; /* non-webkit browsers */
    /*
        use textgradients as explained here: http://www.paulund.co.uk/how-to-add-text-gradients-with-css
        Note: this only works with webkit-browers like safari and chrome
    */
    background-image: -webkit-gradient(
        linear,
        left top, right bottom,
        from(#0f2a49),
        to(#6d9ace)
        );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}