<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-accessibility"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-award"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery25"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery50"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery75"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery100"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery-charge"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery-charge2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery-empty"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery-full"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-battery-half"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-bell"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-bell-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-bookmark"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-bookmark-small"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-bookmark-small-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-bookmark-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-cancel"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-cancel-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-chart"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-chat"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-chat-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-check"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-cloud"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-comment"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-comment-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-female"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-female2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-flag"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-flag2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-flag3"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-flag4"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-forward"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-gauge"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-key"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-keyboard"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-layers-alt"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-listadd"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-logout"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-logout2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-logout3"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-magic"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-male"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-male2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-menu"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-menu2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-minus"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-minus2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-minus-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-minus-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-moon"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-note"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-ok-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-organogram"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-pin"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-pin2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-pin2-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-pin3"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-plus"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-plus-round"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-plus-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-reply"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-reply-all"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-rss"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-rss-transparent"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-signal"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-star"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-star-empty"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-star-half"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-tag"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-tag2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-tag3"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-tags"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-thunder"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-vcard"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-0-3"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-half-3"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-1-3"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-1half-3"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-2-3"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-2half-3"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-3-3"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-0-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-half-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-1-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-1half-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-2-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-2half-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-3-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-3half-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-4-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-4half-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-5-5"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-0-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-1-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-1half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-2-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-2half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-3-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-3half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-4-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-4half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-5-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-5half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-6-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-6half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-7-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-7half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-8-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-8half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-9-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-9half-10"></i></button><br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-special-starrating-10-10"></i></button>