<div id="votebuttons">
<button id="star0" class="pure-button itsabutton-bordered">0 stars</button>
<button id="star1" class="pure-button itsabutton-bordered">1 star</button>
<button id="star2" class="pure-button itsabutton-bordered">2 stars</button>
<button id="star3" class="pure-button itsabutton-bordered">3 stars</button>
<button id="star4" class="pure-button itsabutton-bordered">4 stars</button>
<button id="star5" class="pure-button itsabutton-bordered">5 stars</button>
</div>
<i id="votes" class="itsaicon-special-starrating-0-5"></i>