<link rel="stylesheet" href="http://yogiloader.itsasbreuk.nl/combo?pure/0.2.1/pure-min.css">
<style type="text/css">
{{>using-renderwhenavailable-css}}
</style>

<div class="intro">
    <p>
        {{description}}
    </p>
    <p>
        The Y.ITSACheckbox instance is declared and set to render every time the containerNode gets into the DOM. There are 2 buttons which insert and remove the containerNode.
    </p>
</div>

{{>using-renderwhenavailable-html}}

<h2>Complete Example Source</h2>
```
<style type="text/css">
{{>using-renderwhenavailable-css}}
</style>

<body>
{{>using-renderwhenavailable-html}}

<script>
{{>using-renderwhenavailable-js}}
</script>

</body>
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>using-renderwhenavailable-js}}
</script>