<div class="intro">
<p>
This example demonstrates how to instantiate a simple datetimeinput on a input node.
</p>

<p>
Try clicking on input box and you will see a popup to choose date and time with zone.
</p>
</div>
<div class="example yui3-skin-sam">
    {{>datetimeinput-simple-source}}
</div>

<h2>Complete Example Source</h2>
```
{{>datetimeinput-simple-source}}
```
