<div class="intro">
    <p>
    {{description}}
    </p>
</div>

<h2>Description</h2>

<p>{{description}}</p>

```
YUI().use('gallery-datetime-input',function (Y) {		
	new Y.DateTimeInput({
		inputBox:"#datetime-input"
	});
});
```

