{{#unless noPage}}<div data-role="page">
    <div data-role="container">
     <div data-role="body">{{/unless}}
{{>bottle-carousel}}
<div class="dummy">
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.<br/>
This is a dummy div.
</div>
{{#unless noPage}}
     </div>
    </div>
</div>
{{/unless}}{{#if forTest}}{{>test-manual}}{{else}}{{>script-basic}}{{/if}}
