<div class="intro">
    <p>
       {{description}}
   </p>
</div>

{{>using-itsacheckboxgroup-css}}

{{>using-itsacheckboxgroup-html}}

<h2>Complete Example Source</h2>
```
{{>using-itsacheckboxgroup-css}}

<body>
{{>using-itsacheckboxgroup-html}}
</body>

<script>
{{>using-itsacheckboxgroup-js}}
</script>
```
<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>using-itsacheckboxgroup-js}}
</script>