.yui3-itsaformelement-changed,
.yui3-form .yui3-itsaformelement-date.yui3-itsaformelement-changed,
.yui3-form .yui3-itsaformelement-time.yui3-itsaformelement-changed,
.yui3-form .yui3-itsaformelement-datetime.yui3-itsaformelement-changed {
    background-color: #FF0;
}

.yui3-itsaformelement-date.yui3-itsaformelement-changed,
.yui3-itsaformelement-time.yui3-itsaformelement-changed,
.yui3-itsaformelement-datetime.yui3-itsaformelement-changed {
    background-color: transparent;
}

.yui3-form textarea.yui3-itsaformelement,
.yui3-form .yui3-itsaformelement-date,
.yui3-form .yui3-itsaformelement-time,
.yui3-form .yui3-itsaformelement-datetime {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px #DDDDDD inset;
    display: inline-block;
    *display: inline;
    font-size: 0.8em;
    padding: 0.5em 0.6em;
    transition: border 0.3s linear 0s;
}

.yui3-form textarea.yui3-itsaformelement::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.yui3-form textarea.yui3-itsaformelement:focus {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  border-color: #129FEA;
}

.yui3-button.itsa-button-datetime.yui3-itsaformelement-inlinebutton {
    margin-left: 10px;
}

.yui3-form .yui3-button.itsa-button-datetime.yui3-itsaformelement-inlinebutton {
    margin-left: 0;
}

.itsa-modellistview-styled.yui3-form .itsa-model-selected button:focus,
.itsa-modellistview-styled.yui3-form .itsa-model-selected input:focus,
.itsa-modellistview-styled.yui3-form .itsa-model-selected select:focus,
.itsa-modellistview-styled.yui3-form .itsa-model-selected textarea.yui3-itsaformelement:focus,
.yui3-skin-sam .itsa-modellistview-styled.yui3-form .itsa-model-selected .itsa-button-datetime:focus,
.itsa-modelview-styled.yui3-form .itsa-model-selected button:focus,
.itsa-modelview-styled.yui3-form .itsa-model-selected input:focus,
.itsa-modelview-styled.yui3-form .itsa-model-selected select:focus,
.itsa-modelview-styled.yui3-form .itsa-model-selected textarea.yui3-itsaformelement:focus,
.yui3-skin-sam .itsa-modelview-styled.yui3-form .itsa-model-selected .itsa-button-datetime:focus {
    box-shadow: 0 0 2px 2px #FFF;
}

.yui3-form .yui3-itsaformelement-date,
.yui3-form .yui3-itsaformelement-time,
.yui3-form .yui3-itsaformelement-datetime {
    background-color: #FFF;
    color: #000;
    cursor: default;
    float: left;
}







.itsa-modelview-styled.yui3-form .yui3-button,
.itsa-modellistview-styled.yui3-form .yui3-button {
  padding: 0.27em 0.31em;
  display: inline-block;
  *display: inline;
  border: 1px solid #ccc;
  font-size: 0.8em;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-transition: 0.3s linear border;
  -moz-transition: 0.3s linear border;
  -ms-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.itsa-modelview-styled.yui3-form .yui3-widget-ft .yui3-button,
.itsa-modellistview-styled.yui3-form .yui3-widget-ft .yui3-button {
    padding: 0.4em 1em 0.45em;
    margin: 0.3em 0.6em;
}

.itsa-modelview-styled.yui3-form .yui3-button:focus,
.itsa-modellistview-styled.yui3-form .yui3-button:focus {
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  border-color: #129FEA;
}

.itsa-modelview-styled.yui3-form .yui3-button.disabled,
.itsa-modellistview-styled.yui3-form .yui3-button.disabled {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
  border-color: transparent;
}