YUI(yuiconfig).use('yui-base', function(Y) {
    Y.use('gallerycss-itsa-base', 'gallerycss-itsa-form', 'gallerycss-itsa-animatespin');
    // load 'gallerycss-itsa-form' for the icons and 'gallerycss-itsa-animatespin' for spinning
});