<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-abort"></i>Abort</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-cancel"></i>Cancel</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-destroy"></i>Destroy</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-ignore"></i>Ignore</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-load"></i>Load</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-loading"></i>Loading</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-no"></i>No</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-ok"></i>Ok</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-remove"></i>Remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-reset"></i>Reset</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-retry"></i>Retry</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-save"></i>Save</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-submit"></i>Submit</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-form-yes"></i>Yes</button>