YUI(yuiconfig).use('node-base', 'gallery-itsaformmodel', 'gallery-itsaviewmodelpanel', function(Y) {
    var panel, user, template, footertemplate;

    // create MyFormModelClass
    Y.LoginModel = Y.Base.create('formmodel', Y.ITSAFormModel, [], {
        sync: function (action, options, callback) {
            var instance = this;
            switch (action) {
              case 'submit':
                Y.later(1000, null, function() {
                    // normally you need to invest the response on the server,
                    // but now we do this here:
                    var loginok = ((instance.get('username')==='marco') &&
                                   (instance.get('password')==='asbreuk'));
                    if (loginok) {
                        callback();
                    }
                    else {
                        callback('Wrong username/password: try again');
                    }
                });
                return;
              default:
                callback('Invalid action');
            }
        }
    }, {
        ATTRS: {
            username: {
                formtype: 'text',
                formconfig: {
                    label: 'Username',
                    placeholder: 'username',
                    required: true,
                    fullselect: true,
                    initialfocus: true
                },
                validator: function(v) {
                    return (typeof v==='string') && (v.length>=3) && (v.indexOf(' ')===-1);
                },
                validationerror: 'Enter at least 3 characters without a whitespace'
            },
            password: {
                formtype: 'password',
                formconfig: {
                    label: 'Password',
                    placeholder: 'password',
                    required: true,
                    fullselect: true,
                    submitonenter: true
                },
                validator: function(v) {
                    return (typeof v==='string') && (v.length>=5) && (v.indexOf(' ')===-1);
                },
                validationerror: 'Enter at least 5 characters without a whitespace'
            }
        }
    });

    user = new Y.LoginModel();

    template = '<legend id="retrylegend">Please login:</legend>'+
                    '<fieldset>'+
                        '<div class="pure-control-group">{username}</div>'+
                        '<div class="pure-control-group">{password}</div>'+
                    '</fieldset>';

    footertemplate = '{spinbtn_submit}';

    panel = new Y.ITSAViewModelPanel({
        model: user,
        template: template,
        footerTemplate: footertemplate,
        title: 'Login with username=\'marco\', password=\'asbreuk\'',
        closeButton: false,
        hideOnBtn: false, // <-- make not to close when submitted ('submitonenter' acts like a button)
        centered: true,
        visible: true,
        modal: true,
        dragable: true,
        editable: true,
        width: 320
    }).render();

    retrylegend = Y.one('#retrylegend');

    user.after('submit', function() {
        panel.hide();
    });

    user.after('error', function(e) {
        retrylegend.setHTML(e.error);
    });

});