YUI(yuiconfig).use('gallery-itsaviewmodelpanel', function(Y) {
    var panel, artistobject, artisttemplate;

    artistobject = {
        artist: 'U2',
        country: 'Ireland'
    };

    artisttemplate = 'name: {artist}<br />'+
                     'country: {country}';

    panel = new Y.ITSAViewModelPanel({
        visible: true,
        centered: true,
        dragable: true,
        title: 'Artist:',
        model: artistobject,
        template: artisttemplate
    }).render();

});