<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">

<div class="intro">
    <p>
        {{description}}
    </p>
    <p>
        Valid username/password combination is: username=<b>marco</b> password=<b>test</b><br>
        Signed up emailaddress=<b>someone@somedomain.com</b>
    </p>
</div>

<style type='text/css'>
{{>retrieve-css}}
</style>

{{>standard-html}}


<h2>Code</h2>
```
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<style type='text/css'>
{{>retrieve-css}}
</style>

<body>
{{>standard-html}}
</body>

{{>retrieve-js}}
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>retrieve-js}}
</script>