<link rel="stylesheet" href="http://yogiloader.itsasbreuk.nl/combo?pure/0.3.0/pure-min.css">
<style type='text/css'>
    .pure-form.intro {
        padding: 1em;
        min-height: 190px;
    }
    .pure-form.intro .pure-button {
        background-color: #30418C;
        color: #FFF;
    }
    .hidden {
        visibility: hidden;
    }
</style>