<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-add"></i>Add user</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-dislike"></i>Dislike</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-download"></i>Download</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-love"></i>Love</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-love-transparent"></i>Love</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-like"></i>Like</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-remove"></i>Remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-remove-round"></i>Remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-star"></i>Star</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-star-transparent"></i>Star</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-upload"></i>Upload</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-user"></i>User</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-users"></i>Users</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-users-whois"></i>Whois</button>
