<div class="intro component">
    <p>
        This module provides useful algorithms:
        <ul>
            <li>quick sort</li>
            <li>binary search</li>
            <li>swap two elements</li>
        </ul>
        The functions are added to both Y.Array and Y.ArrayList (if loaded).
    </p>
</div>

{{>getting-started}}

<h2 id="using">Using the Algorithms module</h2>

<h3 id="modules">Algorithms module overview</h3>

<p>
    The Algorithms module augments the <code>Array</code> and <code>ArrayList</code> namespaces in your YUI instance.  Its methods are static, available from these namespace.
</p>
