<span id='render1' class='status'>rendering editor1...</span>
<span id='render2' class='status'>rendering editor2...</span>
<span id='render3' class='status'>rendering editor3...</span>
<span id='render4' class='status'>rendering editor4...</span>

<div id='alleditorinstances' class='notrendered'>
    <div id='editor1' class='editorinstance'></div>
    <div id='editor2' class='editorinstance'></div>
    <div id='editor3' class='editorinstance'></div>
    <div id='editor4' class='editorinstance'></div>
</div>