.yui3-js-enabled .notrendered {
    visibility: hidden;
}
.status {
    display: block;
}
#alleditorinstances {
    height: 300px;
    padding-top: 30px;
}
.editorinstance {
    float: left;
    padding-right: 10px;
    padding-left: 4px;
    border: solid 1px #00f;
}
h2 {
    clear: both;
}