{{#unless noPage}}<div data-role="page">
    <div data-role="container">
     <div data-role="body">{{/unless}}
      <div data-role="photogrid"{{{photoGridAttr}}}>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}400x400">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}300x400">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}200x400">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}100x400">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}400x300">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="http://tw.yahoo.com/asdasdasd"><b>ERROR</b>{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}200x300">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}100x300">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}400x200">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}300x200">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}200x200">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}100x200">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}400x100">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}300x100">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}200x100">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}100x100">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}450x450">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}350x450">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}250x450">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}150x450">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}450x350">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}350x350">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}250x350">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}150x350">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}450x250">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}350x250">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}250x250">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}150x250">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}450x150">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}350x150">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}250x150">{{{moduleHTML}}}</div>
       <div {{{moduleAttr}}}data-icon="{{dummyUrl}}150x150">{{{moduleHTML}}}</div>
      </div>
     </div>{{#unless noPage}}
    </div>
</div>
{{/unless}}{{#if forTest}}{{>test-manual}}{{else}}{{>script-basic}}{{/if}}
