{{>component-desc}}
<h3>Lazy Load</h3>
<p>From 0.1.4, `{{displayName}}` support lazy load. You can wrap original tab content by HTML comment (`<!--` and `-->`) , and all images will not be loaded from beginning. When user slide to a tab, then the tab content will be displayed without HTML comment. In the mean time, images will be loaded; and `{{projectName}}` will initialize Widgets inside the tab.</p>
