<p>On previous section, was shown that events directives such as <code>data-db-onclick</code> can be defined directly in the markup and it will be possible to execute controller's methods, currenly there is a list of predefined directives that can be used:</p>


<table>
    <tbody>
        <tr>
            <th>Directive</th>
            <th>Description</th>
        </tr>
        
        <tr>
            <td><code>-onclick</code></td>
            <td><code>click</code> event</td>
        </tr>
        <tr>
            <td><code>-onblur</code></td>
            <td><code>blur</code> event</td>
        </tr>
        <tr>
            <td><code>-onchange</code></td>
            <td><code>change</code> event</td>
        </tr>
        <tr>
            <td><code>-onfocus</code></td>
            <td><code>focus</code> event</td>
        </tr>
    </tbody>
</table>
