<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

<style type="text/css">
{{>custom-style-css}}
</style>

<div class="intro">
    <p>
        {{description}}
    </p>
</div>

{{>custom-style-html}}

<h2>Complete Example Source</h2>
```
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

<style type="text/css">
{{>custom-style-css}}
</style>

<body>

{{>custom-style-html}}

<script>
{{>custom-style-js}}
</script>

</body>
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>custom-style-js}}
</script>