<div class="intro">
    <p>
    Super simple CSS for your HTML tables.
    </p>
</div>

<h2>Description</h2>
<p>
    Documentation for this module exists on <a href="http://tilomitra.github.com/csstables/">Github Pages.</a> You can <a href="https://github.com/tilomitra/csstables/issues">file issues</a> directly on Github too.
</p>