.itsa-formelement-hidden {
    display: none;
}

.itsa-formelement-validationmessage {
    color: #C00;
    margin-top: 8px;
}

.itsaform-spanlabel {
    margin-right: 8px;
}

.yui3-itsadialogbox-stringinput {
    width: 97%;
    padding: 2px 2px 0px 0px;
}

.yui3-itsadialogbox-numberinput {
    width: 60px;
    text-align: right;
    padding: 2px 2px 0px 0px;
}

.yui3-itsadialogbox .cursormove {
    cursor: move;
}

.yui3-itsadialogbox .yui3-button:-moz-focusring {
    outline: none;
}

.yui3-itsadialogbox .yui3-button:focus {
    outline: none;
}

.yui3-itsadialogbox:focus {
    outline: none;
}

.yui3-itsadialogbox-hidden {
    visibility: hidden;
}

.yui3-itsadialogbox  td {
    padding-top: 8px;
}

.yui3-itsadialogbox  checkbox {
    cursor:pointer;
}

.yui3-itsadialogbox label {
    padding-left: 6px;
    cursor:pointer;
}

.yui3-itsadialogbox dialoginput {
    width: 130px;
}

.yui3-itsadialogbox .itsadialogbox-messageindent {
    padding: 20px 0px 0px 60px;
}

.yui3-itsadialogbox .mousepressfocus {
    background-color:#345FCB;
    color: #FFF;
}

.yui3-itsadialogbox .yui3-button.focus {
    background-color:#345FCB;
    color: #FFF;
}

.yui3-skin-sam .yui3-itsadialogbox .yui3-button-primary.yui3-button.nofocus {
    background-color:#E6E6E6;
    color:#000;
}

.yui3-skin-sam .yui3-panel.yui3-itsadialogbox .yui3-widget-ft .yui3-button {
    margin: 0.3em 0.6em;
}

.yui3-skin-sam .yui3-panel.yui3-itsadialogbox {
    min-width: 350px;
    max-width: 500px;
}

.yui3-skin-sam .yui3-panel.yui3-itsadialogbox .yui3-widget-bd {
    text-align: center;
    padding: 30px 12px 0px;
    min-height:48px;
}

.yui3-skin-sam .yui3-panel.yui3-itsadialogbox.withicon .yui3-widget-bd {
    text-align: left;
    padding: 12px 12px 27px;
    min-height:48px;
}

.yui3-skin-sam .yui3-panel.yui3-itsadialogbox .yui3-widget-hd {
    text-align: left;
    padding: 10px 12px 8px 12px;
    white-space: nowrap;
}

.yui3-skin-sam .yui3-panel.yui3-itsadialogbox .yui3-widget-ft {
    border-radius: 0 0 3px 3px;
    background-color: #F5F4F1;
    border-top: solid 1px #EAE6DB;
    padding: 2px;
}

.yui3-itsadialogbox-content {
    background: none repeat scroll 0 0 white;
    border: 1px solid #A9A9A9;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 3px;
    text-align: left;
}

.itsadialogbox-icon {
    position: static;
    display: inline-block;
    float: left;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url('itsadialog_buttonicons.png');
    background-position: -999px 0px;
}

.yui3-itsadialogbox .itsadialogbox-messageindent {
    padding: 20px 0px 0px 60px;
}
.itsadialogbox-icon.icon-bubble {
    background-position: 0px -200px;
}

.itsadialogbox-icon.icon-error {
    background-position: 0px -100px;
}

.itsadialogbox-icon.icon-info {
    background-position: 0px -300px;
}

.itsadialogbox-icon.icon-question {
    background-position: 0px -400px;
}

.itsadialogbox-icon.icon-warn {
    background-position: 0px -500px;
}

.itsadialogbox-icon.icon-success {
    background-position: 0px 0px;
}