#itsatoolbar-ref {
    display: none;
}
#itsatoolbar-tmpref {
    display: none;
}
#itsatoolbar-tmpempty {
    display: none;
}
.yui3-button.itsa-button-active {
    background-color: #AAA;
}

.itsa-button-icon {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url('itsa-buttonicons-2012-08-15.png');
}

.itsatoolbar.itsatoolbar-editorpart {
    padding: 4px 0px;
}

.itsatoolbar-colors .itsa-selectlist-selectedmain div {
    width: 18px;
    height: 10px;
    margin-left: 18px;
}
.itsatoolbar-colors .itsa-selectlist-ullist div {
    width:15px;
    height:15px;
}
.itsatoolbar-colors .itsa-selectlist-ullist li {
    display: inline-block;
    padding: 2px;
    border: solid 1px #FFF;
}
.itsatoolbar-colors .itsa-selectlist-ullist li.itsa-selectlist-selected {
    background-image: none;
    border-color: #000;
}
.itsatoolbar-fontsize .itsa-selectlist-ullist li {
    padding: 1px 3px 2px;
    margin: 0px 2px;
    border: solid 1px #FFF;
}
.itsatoolbar-fontsize .itsa-selectlist-ullist li.itsa-selectlist-selected {
    background-image: none;
    border-color: #000;
}
.itsatoolbar .yui3-button {
    float: left;
    position: static;
    margin:0px;
    height:32px;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:4px;
}
.itsatoolbar.itsa-buttonsize-small .yui3-button {
    padding: 3px;
    height:26px;
}
.itsatoolbar.itsa-buttonsize-medium .yui3-button {
    padding: 5px;
    height:29px;
}
.itsatoolbar.itsa-buttonsize-small .itsa-selectlist-selectedmain {
    padding-top: 1px;
    padding-left: 4px;
}
.itsatoolbar.itsa-buttonsize-medium .itsa-selectlist-selectedmain {
    padding-top: 1px;
    padding-left: 5px;
}
.itsatoolbar .itsa-icon-selectdown {
    float:right;
    background-position: 4px -1139px;
    height:18px;
    width: 15px;
}
.itsatoolbar.itsa-buttonsize-small .itsa-icon-selectdown {
    background-position: 4px -1140px;
}
.itsatoolbar.itsa-buttonsize-medium .itsa-icon-selectdown {
    background-position: 4px -1140px;
}

.itsatoolbar .yui3-button.itsa-button-indent {
    margin-left: 4px;
}

.itsatoolbar .yui3-itsaselectlist .yui3-button {
    float: none;
    padding: 4px 3px 0px;
}

.itsatoolbar .yui3-itsaselectlist.itsa-button-indent {
    margin-left: 4px;
}

.itsatoolbar .yui3-widget-loading {
    visibility:hidden;
    display:block;
}

.itsa-buttonsize-small .itsa-button-icon {
    height: 22px;
}

.itsatoolbar.itsa-buttonsize-small {
    padding: 4px 0px 0px;
}

.itsatoolbar {
    width: 100%;
    padding: 4px 4px 4px 0px;
    position:static;
    display: inline-block;
    background-color:#E6E6E6;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff',endColorstr='#00ffffff',GradientType=0);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.30)),color-stop(40%,rgba(255,255,255,0.15)),to(transparent));
    background-image:-webkit-linear-gradient(rgba(255,255,255,0.30),rgba(255,255,255,0.15) 40%,transparent);
    background-image:-moz-linear-gradient(top,rgba(255,255,255,0.30),rgba(255,255,255,0.15) 40%,transparent);
    background-image:-ms-linear-gradient(rgba(255,255,255,0.30),rgba(255,255,255,0.15) 40%,transparent);
    background-image:-o-linear-gradient(rgba(255,255,255,0.30),rgba(255,255,255,0.15) 40%,transparent);
    background-image:linear-gradient(rgba(255,255,255,0.30),rgba(255,255,255,0.15) 40%,transparent);

    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;

    -webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.25) inset,0 2px 0 rgba(255,255,255,0.30) inset,0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow:0 0 0 1px rgba(0,0,0,0.25) inset,0 2px 0 rgba(255,255,255,0.30) inset,0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 0 0 1px rgba(0,0,0,0.25) inset,0 2px 0 rgba(255,255,255,0.30) inset,0 1px 2px rgba(0,0,0,0.15);
}

.yui3-button.itsa-button-indent {
    margin-left: 4px;
}

.itsa-icon-aligncenter {
    background-position: 1px -359px;
}

.itsa-icon-alignjustify {
    background-position: 1px -431px;
}

.itsa-icon-alignleft {
    background-position: 1px -323px;
}

.itsa-icon-alignright {
    background-position: 1px -395px;
}

.itsa-icon-bold {
    background-position: 1px 1px;
}

.itsa-icon-calendar {
    background-position: 2px -1773px;
}

.itsa-icon-close {
    background-position: 3px -1695px;
}

.itsa-icon-email {
    background-position: 2px -1416px;
}

.itsa-icon-file {
    background-position: 3px -1655px;
}

.itsa-icon-hyperlink {
    background-position: 1px -792px;
}

.itsa-icon-image {
    background-position: 1px -1375px;
}

.itsa-icon-indent {
    background-position: 1px -719px;
}

.itsa-icon-italic {
    background-position: 1px -35px;
}

.itsa-icon-markcolor {
    background-position: 1px -288px;
    width: 16px;
    margin-right: 4px;
}

.itsa-icon-orderedlist {
    background-position: 1px -503px;
}

.itsa-icon-outdent {
    background-position: 1px -683px;
}

.itsa-icon-redo {
    background-position: 2px -1936px;
}

.itsa-icon-strikethrough {
    background-position: 1px -107px;
}

.itsa-icon-subscript {
    background-position: 1px -180px;
}

.itsa-icon-superscript {
    background-position: 1px -143px;
}

.itsa-icon-textcolor {
    background-position: 1px -215px;
    width: 16px;
    margin-right: 4px;
}

.itsa-icon-underline {
    background-position: 1px -71px;
}

.itsa-icon-undo {
    background-position: 2px -1976px;
}

.itsa-icon-unorderedlist {
    background-position: 1px -467px;
}

.itsa-icon-video {
    background-position: 3px -1336px;
}