YUI(yuiconfig).use('gallery-itsaviewlogin', 'promise', function(Y) {

    var syncFn, myView;

    syncFn = function(action) {
        /*
         * typically you would use gallery-io-utils and create a promise like this:
         *
         * return Y.io.get('http://mydomain.com/submitdata.php?modelid='+this.toJSON());
         *
         * however, this example simulates the serverresponse by resolving with a timeout
         */
        var logininstance = this;
        return new Y.Promise(function (resolve, reject) {
            Y.later(
                1000,
                null,
                function() {
                    var button = logininstance.get('button'),
                        status, username, password, verified, message, messageLoggedin;
                    if (button==='getlogin') {
                        username = logininstance.get('username').toLowerCase();
                        password = logininstance.get('password');
                        verified = (username==='marco') && (password==='test');
                        status = verified ? 'OK' : 'RETRY';
                        if (verified) {
                          //  messageLoggedin = 'Ingelogd als Marco Asbreuk';
                        }
                    }
                    else if (button==='logout') {
                        status = 'OK';
                    }
                    else {
                        status = 'ERROR';
                        message = 'wrong button-value in the request';
                    }
                    resolve({
                        status: status,
                        message: message,
                        displayname: (status==='OK') ? 'Marco Asbreuk' : undefined
                    });
                }
            );
        });
    };

    myView = new Y.ITSAViewLogin({
        container: '#viewcont',
        simplified: true,
        styled: false,
        message: 'You need to login to get access',
        regain: 'username',
        imageButtons: true,
        showStayLoggedin: true,
        iconLogin: 'itsaicon-dialog-user',
        iconLogout: 'itsaicon-dialog-user',
        sync: syncFn
    });

    myView.render();
    myView.focus();

    Y.after('loggedin', function(e) {
        console.log('logged in with username: '+e.username+' | password: '+e.password+
                    ' | remember: '+e.remember);
    });

//    myView.addMessageTarget(statusbar);

});
