.yui3-slideshow-content .yui3-slideshow-body
{
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
}

.yui3-slideshow-content .yui3-slideshow-body li
{
	position: relative;
	background-color: #fff;
}

.yui3-slideshow-content .yui3-slideshow-header
{
	text-align: center;
	margin: 0;
}
