<p>FastUi is a YUI3 module that allows you to focus on the UI logic, and decouples the actual UI building (layout and I18N)
from JS code, by allowing you de declare it in a very simple to understand XML, and then just bind certain components to
the code.</p>

<p>The YUI3 Widget and DOM Node architecture allows for seamless integration between simple DOM nodes (Y.Node elements) and
custom Widget classes.</p>