{{>component-desc}}

<p>
 `{{displayName}}` provides syncScroll() method to extended `Widget`, when the `Widget` is placed inside a `scrollView`, the method can adjust `scrollView` to resposing current UI dimentions. `{{displayName}}` also provides `syncScrollMethod` attribute to specify the callback function when parent scrollView dimention changed. In most case, extended `Widget` will take care with the attribute, and you do not need to touch `{{displayName}}`.
</p>
