/*csslint adjoining-classes: false, star-property-hack: false */

.itsaviewmodel {
    overflow: auto;
}

.itsaviewmodel-styled {
    border: solid 1px #CCC;
    padding: 18px 14px;
    background-color: #EDF5FF;
    -webkit-box-shadow: 5px 5px 6px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    5px 5px 6px rgba(50, 50, 50, 0.45);
    box-shadow:         5px 5px 6px rgba(50, 50, 50, 0.45);
}