yuiconfig.lang = 'es';

YUI(yuiconfig).use('gallery-itsalogin', 'promise', 'gallery-itsadialog', function(Y) {

    var title, message, username, password, loggedin, changepassword;

    title = Y.ITSADialog.translate('login');
    message = Y.ITSADialog.translate('pleaseenterlogin');
    username = Y.ITSADialog.translate('username');
    password = Y.ITSADialog.translate('password');
    loggedin = Y.ITSADialog.translate('loggedin');
    changepassword = Y.ITSADialog.translate('changeyourpassword');

    var syncFn = function(action) {
        /*
         * typically you would use gallery-io-utils and create a promise like this:
         *
         * return Y.io.get('http://mydomain.com/submitdata.php?modelid='+this.toJSON());
         *
         * however, this example simulates the serverresponse by resolving with a timeout
         */
        var logininstance = this;
        return new Y.Promise(function (resolve, reject) {
            Y.later(
                1000,
                null,
                function() {
                    var button = logininstance.get('button'),
                        status, username, password, verified, message;
                    if (button==='getlogin') {
                        username = logininstance.get('username').toLowerCase();
                        password = logininstance.get('password');
                        verified = (username==='marco') && (password==='test');
                        status = verified ? 'OK' : 'RETRY';
                    }
                    else {
                        status = 'ERROR';
                        message = 'wrong button-value in the request';
                    }
                    resolve({
                        status: status,
                        message: message
                    });
                }
            );
        });
    };

    // by setting both formconfigUsername.placeholder and formconfigPassword.placeholder,
    // we eliminate the labels
    Y.getLogin(title, message, {
        imageButtons: true,
        showStayLoggedin: true,
        regain: 'usernameorpassword',
        formconfigUsername: {
            placeholder: username
        },
        formconfigPassword: {
            placeholder: password
        },
        messageForgotPassword: changepassword
    }, syncFn).then(
        function(result) {
            Y.showMessage(loggedin+' '+username+'='+result.username+' | '+password+'='+result.password);
        },
        function(reason) {
            Y.showMessage(reason);
        }
    );

});
