YUI(yuiconfig).use('gallery-itsalogin', 'promise', 'gallery-itsadialog', function(Y) {

    var syncFn = function(action) {
        /*
         * typically you would use gallery-io-utils and create a promise like this:
         *
         * return Y.io.get('http://mydomain.com/submitdata.php?modelid='+this.toJSON());
         *
         * however, this example simulates the serverresponse by resolving with a timeout
         */
        var logininstance = this;
        return new Y.Promise(function (resolve, reject) {
            Y.later(
                1000,
                null,
                function() {
                    var button = logininstance.get('button'),
                        status, username, password, verified, message;
                    if (button==='getlogin') {
                        username = logininstance.get('username').toLowerCase();
                        password = logininstance.get('password');
                        verified = (username==='marco') && (password==='test');
                        status = verified ? 'CHANGEPASSWORD' : 'RETRY';
                    }
                    else if (button==='changepassword') {
                        status = 'OK'; // accept new password
                    }
                    else {
                        status = 'ERROR';
                        message = 'wrong button-value in the request';
                    }
                    resolve({
                        status: status,
                        message: message
                    });
                }
            );
        });
    };

    Y.getLogin('Login', 'Please enter login', {
        imageButtons: true,
        showStayLoggedin: true
    }, syncFn).then(
        function(result) {
            Y.showMessage('Resolved:', 'succesfully logged in with username='+result.username+
                ' | password='+result.password+' | oldpassword='+result.oldpassword+
                ' | stayloggedin: '+result.remember+' | button='+result.button);
        },
        function(reason) {
            Y.showMessage('Rejected:', reason);
        }
    );

});
