.red-style .itsa-panel.itsa-styledpanel .itsa-panelclosebtn.pure-button {
    color: #FF0;
}
.red-style .itsa-panel.itsa-styledpanel {
    background-color: #DDD;
    font-style: italic;
}
.red-style .itsa-panel.itsa-styledpanel .itsa-panelfooter {
    background-color: #CCC;
    border-top: 3px dotted #56000a;
}
.red-style .itsa-panel.itsa-styledpanel .itsa-panelheader {
    color: #DD0;
    border-bottom: 1px solid #56000a;
    /* browserwide background gradients are nice made using http://www.colorzilla.com/gradient-editor/ */
    /* CAUTION: you need to add a '\9' add the end of the 'filter-property' yourself to make sure this rule does not target IE9 and above */
    background: #56000a; /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2MDAwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjclIiBzdG9wLWNvbG9yPSIjNTYwMDBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjN2EwMjFlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #56000a 0%, #56000a 7%, #7a021e 50%, #a90329 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56000a), color-stop(7%,#56000a), color-stop(50%,#7a021e), color-stop(100%,#a90329)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #56000a 0%,#56000a 7%,#7a021e 50%,#a90329 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #56000a 0%,#56000a 7%,#7a021e 50%,#a90329 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #56000a 0%,#56000a 7%,#7a021e 50%,#a90329 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #56000a 0%,#56000a 7%,#7a021e 50%,#a90329 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56000a', endColorstr='#a90329',GradientType=0 )\9; /* IE6-8 */
}