YUI(yuiconfig).use('gallery-itsapanel', function(Y) {
    var panel1, panel2, panel3, title, message, footer;

    title = 'Information';
    message = 'You are seeing a <b>Y.ITSAPanel</b>-instance.<br />'+
              'This panel is set inline and therefore not really a panel. However it still holds the same layout '+
              'and functionalities except for all \'positioned\' properties.';
    footer = 'Copyright (c) 2013 <a href="http://itsasbreuk.nl">Its Asbreuk</a>.';

    panel1 = new Y.ITSAPanel({
        boundingBox: '#panel1',
        title: title,
        footer: footer,
        body: message,
        floated: false,
        visible: true,
        className: 'panel-displayblock',
        width: 300
    }).render();

    panel2 = new Y.ITSAPanel({
        boundingBox: '#panel2',
        title: title,
        footer: footer,
        body: message,
        floated: false,
        visible: true,
        width: 300
    }).render();

    panel3 = new Y.ITSAPanel({
        boundingBox: '#panel3',
        title: title,
        footer: footer,
        body: message,
        floated: false,
        visible: true,
        width: 300
    }).render();

});