{{>bottle-page}}
 <div id="overlaymenu" data-role="shortcut" data-direction="top" data-transition="overlay">
  {{>example-shortcut-innertext}}
 </div>
 <div id="pushmenu" data-role="shortcut" data-direction="left" data-transition="push" data-noMask="true" style="width:300px">
  {{>example-shortcut-innertext}}
 </div>
 <div id="unveilmenu" data-role="shortcut" data-direction="right" data-transition="unveil" style="width:300px">
  {{>example-shortcut-innertext}}
 </div>
<script>
YUI({{{yuiParams}}}).use({{{useParams}}}, function (Y) {
    var overlaymenu, pushmenu, unveilmenu;

    Y.Bottle.init();

    overlaymenu = Y.Widget.getByNode(Y.one('#overlaymenu'));
    pushmenu = Y.Widget.getByNode(Y.one('#pushmenu'));
    unveilmenu = Y.Widget.getByNode(Y.one('#unveilmenu'));

    Y.one('#showOverlay').on('click', function (E) {
        overlaymenu.show({offsetX:0, offsetY:20, duration: 1, easing:'backOut'});
    })

    Y.one('#hideOverlay').on('click', function (E) {
        overlaymenu.hide({duration:0.3, effect:'easeOutStrong'});
    });

    Y.one('#toggleOverlay').on('click', function (E) {
        overlaymenu.toggle();   
    });
    
    Y.one('#showPush').on('click', function (E) {
        pushmenu.show({offsetX:0, offsetY:20, duration: 1, easing:'backOut'});
    })

    Y.one('#hidePush').on('click', function (E) {
        pushmenu.hide();
    });
    
    Y.one('#showUnveil').on('click', function (E) {
        unveilmenu.show();
    })

    Y.one('#hideUnveil').on('click', function (E) {
        unveilmenu.hide();
    });
});
</script>
