{{>bottle-page}}
<div id="sm2" data-role="shortcut" style="width:300px" {{{shortcutAttrs}}}>
 <div data-role="container">2
  {{>example-shortcut-innertext}}
 </div>
</div>
<div id="shortcutMenu" data-role="shortcut" {{{shortcutAttrs}}}>
 <div data-role="container">
  {{>example-shortcut-innertext}}
 </div>
</div>
{{>test-manual}}
