<style type="text/css">
{{>index-css}}
</style>

<div class="intro">
    <p>
    {{description}}
    </p>
    <p>
       <b>Notes:</b>
       <ul>
           <li>You need to load this module <u>together with 'gallerycss-itsa-base'</u> in order to work.</li>
           <li>Iconfonts modules are heavyweight: it is advisable to load them asynchroniously in a separate Y.use() statement to prevent delay in the YUI-callback. See the examples.</li>
           <li>These fonticons always need to be declared inside a <u>i-element</u>, see the examples.</li>
           <li>Special thanks to <a href='http://fontello.com' target='_blank'>http://fontello.com</a> by which means this gallerymodule is created</li>
       </ul>
    </p>
</div>

{{>getting-started}}

<h2>Description</h2>
<p>By adding this module, you have some classnames at your proposal, which can be used to create icons. The best way to create an icon, is by defining a <code>li-element</code> and add the right class to it. Typically the icons are inside a <code>button-element</code> but this is not required.
</p>
<p>
    Be aware of the load-delay: if you use progressive enhancement, you might want the nodes to be invisible until loading has finished.
</p>

<h2>Available iconclasses</h2>
    <ul>
        <li><i class="itsaicon-form-abort"></i><code>itsaicon-form-abort</code></li>
        <li><i class="itsaicon-form-cancel"></i><code>itsaicon-form-cancel</code></li>
        <li><i class="itsaicon-form-destroy"></i><code>itsaicon-form-destroy</code></li>
        <li><i class="itsaicon-form-ignore"></i><code>itsaicon-form-ignore</code></li>
        <li><i class="itsaicon-form-load"></i><code>itsaicon-form-load</code></li>
        <li><i class="itsaicon-form-loading"></i><code>itsaicon-form-loading</code></li>
        <li><i class="itsaicon-form-no"></i><code>itsaicon-form-no</code></li>
        <li><i class="itsaicon-form-ok"></i><code>itsaicon-form-ok</code></li>
        <li><i class="itsaicon-form-remove"></i><code>itsaicon-form-remove</code></li>
        <li><i class="itsaicon-form-reset"></i><code>itsaicon-form-reset</code></li>
        <li><i class="itsaicon-form-retry"></i><code>itsaicon-form-retry</code></li>
        <li><i class="itsaicon-form-save"></i><code>itsaicon-form-save</code></li>
        <li><i class="itsaicon-form-submit"></i><code>itsaicon-form-submit</code></li>
        <li><i class="itsaicon-form-yes"></i><code>itsaicon-form-yes</code></li>
    </ul>
    <p>
      <b>Note1 :</b><code>itsaicon-form-load</code> is the same icon as <code>itsaicon-form-loading</code>, with the exeption that <code>itsaicon-form-loading</code> has <i>!important</i> active. This way you can use <code>itsaicon-form-loading</code> to force this icon to be present.<br />
      <b>Note2 :</b><code>itsaicon-form-loading</code> does not work in IE7.
    </p>

<h2>Usage</h2>
```html
<button class="itsabutton-iconleft"><i class="itsaicon-form-save"></i><code>Save</button>
```

```js
YUI(yuiconfig).use('yui-base', function(Y) {
    Y.use('gallerycss-itsa-base', 'gallerycss-itsa-form'); // now the iconfonts will load asynchroniously

    // code can be executed
    ...

});
```
<h3>Changing size</h3>
<p>Iconfonts are handled as regular characters. The font size is detemined by the calculated font-size value of the element. To change the icon-size, you need to change the font-size.
</p>
<p>
The iconfont has its definition inside <code>.itsaicon-iconname:before</code>. You can set a fontsize here, or at a ancestor-node, depending what needs to be set.
</p>
```css
button {
    font-size: 120%;
}
.itsaicon-form-yes:before {
    font-size: 150%;
}
```

<h3>Changing color</h3>
<p>Iconfonts are handled as regular characters. The iconcolor is detemined by the calculated color-value of the element. To change the icon-color, you need to change the color of the icon.
</p>
<p>
The icon-color has its definition inside <code>.itsaicon-iconname:before</code>. You can set a color here, or at a ancestor-node, depending what needs to be set.
</p>
```css
button {
    color: #F00;
}
.itsaicon-form-yes:before {
    color: #0F0;
}
```
<h2>Creating imagebuttons (purecss compatible)</h2>
    <p>
        Imagebuttons can be created by creating a button and add an empty <code>i-element</code> inside. To be sure the space arround the iconfont gets right, you need to add the right classname to the button as well.
    </p>
    <p>
        These iconfonts work perfectly well with pure-css. So you can add the class <code>pure-button</code> to the button-element. But you don't need to.
    </p>

<h3>Iconbuttons without text</h3>
```html
<button class="itsabutton-onlyicon">
  <i class="itsaicon-form-ok"></i>
</button>
```

<h3>Textbuttons with a left-icon</h3>
```html
<button class="itsabutton-iconleft">
  <i class="itsaicon-form-ok"></i>Ok
</button>
```

<h3>Textbuttons with a right-icon</h3>
```html
<button class="itsabutton-iconright">
  Ok<i class="itsaicon-form-ok"></i>
</button>
```

<h3>Rounded buttons with a border</h3>
    <p>
        Bordered and rounded buttons can be made by using special button-classes supllied by <a href='http://gallerydocs.itsasbreuk.nl/gallerycss-itsa-base/index.html' target='_blank>'>gallerycss-itsa-base</a>.
    </p>
```html
<button class="pure-button itsabutton-bordered itsabutton-rounded">
  <i class="itsaicon-form-ok"></i>
</button>
```
<h2>Licences</h2>
    Copyright (c) 2013 <a href="http://itsasbreuk.nl">Its Asbreuk</a><br />
    Copyright (c) 2013 <a href="http://developer.yahoo.com/yui/license.html">YUI BSD License</a>
<h3>Font licence info</h3>
<ul class='disc'>
   <li>Entypo<br />
           Copyright (C) 2012 by Daniel Bruce<br />
           Author:    Daniel Bruce<br />
           License:   CC BY-SA (<a href='http://creativecommons.org/licenses/by-sa/2.0/' target='_blank'>http://creativecommons.org/licenses/by-sa/2.0/</a>)<br />
           Homepage:  <a href='http://www.entypo.com' target='_blank'>http://www.entypo.com</a></li>
   <li>Modern Pictograms<br />
           Copyright (c) 2012 by John Caserta. All rights reserved.<br />
           Author:    John Caserta<br />
           License:   SIL (<a href='http://scripts.sil.org/OFL' target='_blank'>http://scripts.sil.org/OFL</a>)<br />
           Homepage:  <a href='http://thedesignoffice.org/project/modern-pictograms/' target='_blank'>http://thedesignoffice.org/project/modern-pictograms/</a>
   </li>
</ul>

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>index-js}}
</script>