<div class="intro component">
    <p>
        Provides fluid-width/height layout for modules, sandwiched between (optional) page header and footer.
    </p>
</div>

{{>getting-started}}

<h2 id="using">Using the Page Layout module</h2>

<h3 id="modules">Page Layout module overview</h3>

<p>
    Based on the page structure, loads the appropriate Layout module: <a href="http://yuilibrary.com/gallery/show/layout-rows">row-based</a> or <a href="http://yuilibrary.com/gallery/show/layout-cols">column-based</a>.
</p>
