<div class="intro">
    <p>
    This module provides a View class extension to support cell &quot;inline&quot; editors, similar to a &quot;spreadsheet&quot; type of editing where the entire cell becomes editable.  

Supports the following types of cell editors: text, textarea, checkbox, radio, date, select/dropdown/combobox, autocomplete 
    </p>
</div>

<h2>Description</h2>

<p>A long and very verbose description is coming soon ...<br>
</p>

```
YUI().use('gallery-datatable-celleditor-inline', function(Y) {


});
```

