<div class="pic-beacon" data-width="300" data-height="200"></div>
<p class="big-block">
	
</p>
<div class="pic-beacon" data-width="400" data-height="200"></div>
<p class="big-block">
	
</p>
<div class="pic-beacon" data-width="120" data-height="300"></div>
<p class="big-block">
	
</p>
<div class="pic-beacon" data-width="120" data-height="120"></div>
<p class="big-block">
	
</p>
<div class="pic-beacon" id="animate-me" data-width="500" data-height="120"></div>
<p class="big-block">
	
</p>
<div class="pic-beacon" data-width="350" data-height="200"></div>
<p class="big-block">
	
</p>

<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
<div class="pic-beacon" data-width="838" data-height="100"></div>
