.pic-beacon {
	background-color: #ccc;
	border: 1px solid #666;
	color: #fff;
	font-weight: bold;
	background-size: cover;
}

.big-block {
	height: 15em;
}
#animate-me {
	position: relative;
}
#doc pre.prettyprint {
	-moz-tab-size: 4;
	-webkit-tab-size: 4;
	tab-size: 4;
}