<div class="beacon">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><div class="beacon">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><div class="beacon">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><div class="beacon">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><div class="beacon">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><div class="beacon">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><div class="beacon">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p>