<div id="demo" class="yui3-module">
    <div class="yui3-hd">
        <h3>
            Rolling 6-Sided Dice
        </h3>
    </div>
    <div class="yui3-bd">
        <label for="numberOfDice">
            Number of Dice:
        </label>
        <input id="numberOfDice" type="number" value="2" />
        <button class="yui3-button" id="rollDice" type="button">
            Roll Dice
        </button>
        <fieldset id="results">
            <legend>
                Results
            </legend>
        </fieldset>
    </div>
</div>