<div class="intro">
    <p>
       {{description}}
   </p>
</div>

<p>
{{>regular-html-element-html}}
</p>

<h2>Complete Example Source</h2>
```
<body>
{{>regular-html-element-html}}
</body>

{{>regular-html-element-js}}
```
<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>regular-html-element-js}}
</script>