<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Scroll Animation Example with Parallax Effects</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!--
        <link rel="stylesheet" href="{{yuiBuildUrl}}/cssreset/cssreset-min.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{componentAssets}}/horizontal.css" type="text/css" charset="utf-8">
        <link media="handheld, only screen and (max-device-width: 480px)" href="{{componentAssets}}/horizontal-smallscreen.css" type="text/css" rel="stylesheet" charset="utf-8"> 
        -->
        <link rel="stylesheet" href="{{yuiBuildUrl}}/cssreset/cssreset-min.css" type="text/css" charset="utf-8">       
        <link rel="stylesheet" href="{{componentAssets}}/simple-scrollanim-example.css" type="text/css" charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Ultra|Andada' rel='stylesheet' type='text/css'>

        <script src="{{yuiSeedUrl}}"></script>
        <script src="../../build/gallery-scrollanim/gallery-scrollanim.js"></script>
        <script src="{{componentAssets}}/modernizr.js"></script>
        <script src="{{componentAssets}}/Tween.js"></script> 
    </head>

    <body class="yui3-skin-sam">
        {{>layout_content}}
    </body>
</html>