<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-attachment"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-clearcode"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-bgcolor"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-colorstrike"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-image"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-link"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-mail"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-redo"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-strike"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-sub"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-super"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-undo"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-unlink"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-video"></i></button>