{{#unless noPage}}<div data-role="page">
    <div data-role="container">
     <div data-role="body">{{/unless}}
{{>bottle-slidetab}}
{{#unless noPage}}
    </div>
</div>
{{/unless}}{{#if forTest}}{{>test-manual}}{{else}}{{>script-basic}}{{/if}}
