<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-error"></i>error</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-info"></i>info</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-inform"></i>inform</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-key"></i>key</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-login"></i>login</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-logout"></i>logout</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-mail"></i>mail</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-question"></i>question</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-question2"></i>question2</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-switch"></i>switch</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-user"></i>user</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-dialog-warn"></i>warn</button>