.yui3-fw-treeview ul {
	list-style: none;
    cursor:pointer ;
}
.yui3-fw-treeview li {
	clear: both;
	overflow: hidden;
}
.yui3-fw-treeview li .yui3-fw-treeview-content,
.yui3-fw-treeview li .yui3-fw-treeview-toggle,
.yui3-fw-treeview li .yui3-fw-treeview-selection,
.yui3-fw-treeview li .yui3-fw-treeview-icon {
	float: left;
}
.yui3-fw-treeview li.yui3-flyweight-tree-node-collapsed ul.yui3-flyweight-tree-node-children {
	display: none;
}