<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
<style type="text/css">
{{>loadappend-model-css}}
</style>

<div class="intro">
    <p>
       {{description}}
   </p>
</div>

{{>loadappend-model-html}}

</p>

<h2>Complete Example Source</h2>
```
<body>

{{>loadappend-model-html}}

{{>loadappend-model-js}}

</body>
```
<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>loadappend-model-js}}
</script>