<div id="container" class="hide">
    <button id='btnValue' class='pure-button'>Toggle value</button>
    <br />
    <br />
    <button id='btnDisable' class='pure-button'>Disable-Enable</button>
    <br />
    <br />
    <div id="checkbox" class="pure-checkbox-big"></div>
</div>