<h2>Inline form</h2>
<form class="pure-form">
    <fieldset>
        <legend>A compact inline form</legend>

        <input id="test" type="email" placeholder="Email">
        <input type="password" placeholder="Password">

        <label for="remember">
        </label>
            <input id="remember" type="checkbox" class="js-nodisplay"> Remember me

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>

<h2>Stacked form</h2>
<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>A Stacked Form</legend>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">

        <label for="state">State</label>
        <select id="state">
            <option>AL</option>
            <option>CA</option>
            <option>IL</option>
        </select>

        <label for="focuscheckbox" class="pure-checkbox">
            <input id="focuscheckbox" type="checkbox" class="js-nodisplay"> Focussed checkbox
        </label>
        <label for="readonlycheckbox" class="pure-checkbox">
            <input id="readonlycheckbox" type="checkbox" class="js-nodisplay" readonly="readonly" checked="checked"> Readonly checkbox
        </label>
        <label for="disabledcheckbox" class="pure-checkbox">
            <input id="disabledcheckbox" type="checkbox" class="js-nodisplay" disabled="disabled" checked="checked"> Disabled checkbox
        </label>
        <label for="checkedcheckbox" class="pure-checkbox">
            <input id="checkedcheckbox" type="checkbox" class="js-nodisplay" checked="checked"> Default checked
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>