<link rel="stylesheet" href="http://yogiloader.itsasbreuk.nl/combo?pure/0.2.1/pure-min.css">
<style type='text/css'>
    .yui3-js-enabled .js-nodisplay {
        position: absolute !important;
        visibility: hidden !important;
        left: -9999px !important;
        top: -9999px !important;
    }
</style>