<h2>Inline form</h2>
<form class="pure-form">
    <fieldset>
        <legend>A compact inline form</legend>

        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">

        <label for="remember">
            <div id="remember"></div> Remember me
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>

<h2>Stacked form</h2>
<form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>A Stacked Form</legend>

        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">

        <label for="state">State</label>
        <select id="state">
            <option>AL</option>
            <option>CA</option>
            <option>IL</option>
        </select>

        <label for="focuscheckbox" class="pure-checkbox">
            <div id="focuscheckbox"></div> Focussed checkbox
        </label>
        <label for="readonlycheckbox" class="pure-checkbox">
            <div id="readonlycheckbox"></div> Readonly checkbox
        </label>
        <label for="disabledcheckbox" class="pure-checkbox">
            <div id="disabledcheckbox"></div> Disabled checkbox
        </label>
        <label for="checkedcheckbox" class="pure-checkbox">
            <div id="checkedcheckbox"></div> Default checked
        </label>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>