<link rel="stylesheet" href="http://yogiloader.itsasbreuk.nl/combo?pure/0.2.1/pure-min.css">
<style type='text/css'>
    .hide {
        visibility: hidden;
    }
    .pure-redish .yui3-itsacheckbox .optionon {
        background-color: #D00;
    }
    .pure-redish .yui3-itsacheckbox .optionoff {
        background-color: #900;
        color: #FFF;
    }
    .pure-checkbox-big .yui3-itsacheckbox {
        font-size: 200%;
    }
</style>