<div id="container" class="pure-form hide">
    <button id='btnLarge' class='pure-button'>Make all big-sized</button>
    <br />
    <br />
    <div id="checkboxColored" class="pure-redish"></div> Different color
    <br />
    <div id="checkboxOtherOptions"></div> Other options
    <br />
    <div id="checkboxChanged" class="pure-redish pure-checkbox-big"></div> Different size and color and options
</div>