<h2>Brian Huang</h2>
<dl>
 <dt>EMail</dt>
 <dd>brianhph@yahoo-inc.com</dd>
</dl>

<h2>Eric Chuang</h2>
<dl>
 <dt>EMail</dt>
 <dd>cire@yahoo-inc.com</dd>
 <dt>Twitter</dt>
 <dd><a href="http://twitter.com/ddsakura" target="_blank">@ddsakura</a></dd>
</dl>

<h2>John Wu</h2>
<dl>
 <dt>EMail</dt>
 <dd>jojozyzy@yahoo-inc.com</dd>
</dl>

<h2>Montie Tsai</h2>
<dl>
 <dt>EMail</dt>
 <dd>golfhao@yahoo-inc.com</dd>
</dl>

<h2>Zordius Chen</h2>

<a href="http://facebook.com/zordius"><img src="http://badge.facebook.com/badge/1554691707.3623.1652719263.png" /></a>

<dl>
 <dt>Github</dt>
 <dd><a href="https://github.com/zordius">https://github.com/zordius</a></dd>
</dl>
