<h2>History</h2>
<h3>nighty</h3>
<h4>for test, only on github, not on cdn</h4>
<ul>
 <li>page: now nativeScroll mode the fixed header/footer style missing in Android devices bug fixed.</li>
 <li>overlay: now the bug of overlay size when using btHideSCO skin is fixed.</li>
 <li>device: fix getBrowserWidth and getBrowserHeight for IE</li>
 <li>core: IE7+ support, fix javascript error when init()</li>
 <li>skin: fix shortcut/overlay mask opacity for IE7-</li>
 <li>core: auto hide header/footer when input focused (position:fixed work around)</li>
 <li>core: auto adjust overlay/shortcut size when input blur</li>
 <li>page: add scrollTo() support</li>
 <li>container: add fullHeight support, default is false</li>
</ul>

<h3>0.1.2</h3>
<h4>2012-10-04</h4>
<ul>
 <li>overlay: core show()/hide() rewrite, prevent floating number position and transition bugs</li>
 <li>container: delay 1ms to sync scrollView height when setting container height to prevent css related bug</li>
 <li>container: now use Y.zui.ScrollHelper on none touch device browsers to resolve 'dragging on image' bug</li>
 <li>carousel: now use Y.zui.ScrollHelper on none touch device browsers to resolve 'dragging on image' bug</li>
 <li>page: start to support native browser scroll, which gets pretty good performance improvement</li>
 <li>syncscroll: remove autoWidth attribute, now Bottle will auto handle widget size in all 3 modes: 'with page scrollView', 'with page nativeScroll', 'without page'</li>
</ul>

<h3>0.1.1</h3>
<h4>2012-09-20</h4>
<ul>
 <li>shortcut: fix align bug when hide browser URL bar</li>
 <li>slidetab: fix page position bug when using webkit browsers</li>
 <li>overlay: use standard zIndex attribute when init, and do not touch zIndex when show() and hide()</li>
 <li>pushpop: fix push() / pop() bug when the widget is not visible</li>
</ul>

<h3>0.1.0</h3>
<h4>2012-09-13</h4>
<ul>
 <li>skins: port css module to standard yui3 skin</li>
 <li>loader: new widget</li>
</ul>

<h3>0.0.2</h3>
<h4>2012-09-01</h4>
<ul>
 <li>slideTab: better snap logic</li>
 <li>carousel: better snap logic</li>
 <li>skins: add initializing skins</li>
</ul>

<h3>0.0.1</h3>
<h4>2012-08-15</h4>
<ul>
 <li>initial version</li>
 <li>port to yui-gallery</li>
</ul>
