<h2>History</h2>
<h3>testing</h3>
<ul>
 <li>shortcut: fix align bug when hide browser URL bar</li>
 <li>slidetab: fix page position bug when using webkit browsers</li>
 <li>overlay: use standard zIndex attribute when init, and do not touch zIndex when show() and hide()</li>
 <li>pushpop: fix push() / pop() bug when the widget is not visible</li>
</ul>

<h3>0.1.0</h3>
<h4>2012-09-13</h4>
<ul>
 <li>skins: port css module to standard yui3 skin</li>
 <li>loader: new widget</li>
</ul>

<h3>0.0.2</h3>
<h4>2012-09-01</h4>
<ul>
 <li>slideTab: better snap logic</li>
 <li>carousel: better snap logic</li>
 <li>skins: add initializing skins</li>
</ul>

<h3>0.0.1</h3>
<h4>2012-08-15</h4>
<ul>
 <li>initial version</li>
 <li>port to yui-gallery</li>
</ul>
