<h2>Nighty version</h2>
<p>You may want to try nighty version of `{{projectName}}`, to test new widgets or new features. The nighty version is hosted on dropbox and github, which is most updated. But, sometimes buggy. Here is github version:</p>

```
{{>bottle-scripts-gh}}
```

Here is dropbox version:</p>

```
{{>bottle-scripts-db}}
```

<p>You may check <a href="history.html">release history</a>, too.
