<div class="intro component">
    <p>
    QuickEdit converts all displayed values (in the columns you choose to configure) into input fields so the user can change all the values in a single bulk operation.
    </p>
</div>

{{>getting-started}}
