<!DOCTYPE html>
<html>
  <head>
    <title>{{htmlTitle}}</title>
    <meta charset="utf-8">
    {{>device-metas}}
    {{>yui-css}}
    <link rel="apple-touch-icon" href="/missing/need/icon/HTML5_Badge_64.png" />
    <link rel="apple-touch-icon-precomposed" href="/missing/need/icon/HTML5_Badge_64.png" />
    <link rel="stylesheet" type="text/css" href="../assets/css/example.css">
    <link rel="stylesheet" href="{{projectAssets}}/js/gallery-bottle/assets/skins/sam/gallery-bottle.css">
    {{>bottle-asseturl}}
    {{>bottle-scripts}}
  </head>
<body class="yui3-skin-sam">
{{>layout_content}}
</body>
</html>
