.yui3-js-enabled .yui3-itsaweatherpanel-loading,
.yui3-js-enabled .yui3-itsaweatherpanel.extendloading,
.yui3-itsaweatherpanel-hidden {
    visibility: hidden;
}
.yui3-itsaweatherpanel {
    width: 274px;
    padding: 10px 2px;
}
.yui3-itsaweatherpanel .yui3-widget-bd {
    border: solid 1px #999;
    border-radius: 0 0 3px 3px;
    color: #666;
}
.yui3-itsaweatherpanel .yui3-widget-bd div {
    border-bottom: dotted 1px #999;
}