<span id='render1' class='status'>rendering dial1...</span>
<span id='render2' class='status'>rendering dial2...</span>
<span id='render3' class='status'>rendering dial3...</span>

<div id='alldialinstances' class='notrendered'>
    <div id='dial1' class='dialinstance'></div>
    <div id='dial2' class='dialinstance'></div>
    <div id='dial3' class='dialinstance'></div>
</div>