.yui3-js-enabled .notrendered {
    visibility: hidden;
}
.status {
    display: block;
}
#alldialinstances {
    height: 160px;
    padding-top: 30px;
}
.dialinstance {
    float: left;
    padding-right: 10px;
    padding-left: 4px;
}
h2 {
    clear: both;
}