<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-align-left"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-align-center"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-align-right"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-align-justify"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-bold"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-color"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-indent-left"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-indent-right"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-italic"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-list-bullet"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-list-numbered"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-editor-underline"></i></button>