Y.ButtonPlugin.C_SELECTED = '';
Y.ButtonPlugin.C_NOT_SELECTED = 'disabled';
Y.ButtonPlugin.addToggles('#toggleGroup');


Y.ButtonPlugin.addToggles('#twoStates', {
    C_SELECTED: 'btn-danger',
    C_NOT_SELECTED: 'btn-success'
});
