<fieldset id="toggleGroup">
    <legend>Mutually Exclusive set of toggles</legend>
    <div  class="btn-group yui3-button-group-exclusive">
        <a class="btn yui3-button-toggle disabled" href="#"><i class="icon-align-left"></i></a>
        <a class="btn yui3-button-toggle" href="#"><i class="icon-align-center"></i></a>
        <a class="btn yui3-button-toggle disabled" href="#"><i class="icon-align-right"></i></a>
        <a class="btn yui3-button-toggle disabled" href="#"><i class="icon-align-justify"></i></a>
    </div>
</fieldset>

<hr style="border: double silver"/>

<fieldset id="twoStates">
    <legend>Regular toggle buttons</legend>
    <div class="btn-group">
        <button class="btn yui3-button-toggle btn-danger" style="font-weight:bold">B</button>
        <button class="btn yui3-button-toggle" style="font-style:italic">I</button>
        <button class="btn yui3-button-toggle btn-danger" style="text-decoration:underline">U</button>
    </div>
</fieldset>


