<div id="toolbar">
    <fieldset>
        <legend>Toggle buttons</legend>

        <fieldset id="group" class="yui3-button-group-exclusive">
            <legend>Middle selected via code</legend>

            <button id="toggle01" class="yui3-button yui3-button-toggle">1</button>
            <button id="toggle02" class="yui3-button yui3-button-toggle">2</button>
            <button id="toggle03" class="yui3-button yui3-button-toggle">3</button>
        </fieldset>

        <fieldset id="preselectedgroup" class="yui3-button-group-exclusive">
            <legend>Last preselected</legend>

            <button id="toggle11" class="yui3-button yui3-button-toggle">A</button>
            <button id="toggle12" class="yui3-button yui3-button-toggle">B</button>
            <button id="toggle13" class="yui3-button yui3-button-toggle yui3-button-selected">C</button>
        </fieldset>

        <fieldset id="nonexclusive">
            <legend>Non-exclusive</legend>

            <button id="toggle21" class="yui3-button yui3-button-toggle">7</button>
            <button id="toggle22" class="yui3-button yui3-button-toggle">8</button>
            <button id="toggle23" class="yui3-button yui3-button-toggle yui3-button-selected">9</button>
        </fieldset>
    </fieldset>

    <fieldset id="regularbuttons" class="yui3-button-group-exclusive">
        <legend>Regular buttons</legend>

        <button id="toggle31" class="yui3-button">x</button>
        <button id="toggle32" class="yui3-button">y</button>
        <button id="toggle33" class="yui3-button">z</button>
    </fieldset>
</div>
