<div class="intro">
    <p>{{description}}</p>
</div>

<h2>Description</h2>

<p>This class extends YUI3 with a date picker widget, that is able to
take an existing form input field and generate a button next to it that
launches a calendar popup to select a date. The format of the date is
YYYY-MM-DD[ HH:MM::SS]. It is intended to be easy to drop in on a form
element without too much extra work.</p>

