<div class="intro">
    <p>The {{displayName}} demonstrates the use of the datepicker widget.</p>
</div>

<h2>Description</h2>

<p>A calendar popup for date input form elements.</p>

```
<label for="date">Date:</label><input name="date" id="date" value="1985-06-08"/>

<script src="http://yui.yahooapis.com/3.8.1/build/yui/yui-min.js"></script>
<script src="datepicker.js"></script>
<script>
YUI().use("datepicker", function (Y) {
    new Y.DatePicker({
        input: "#date", btnContent: '<img src="calendar.png"/>'});
});
</script>

```

