<button class="pure-button itsabutton-bordered"><i class="itsaicon-arrows-up"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">down<i class="itsaicon-arrows-down"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">right<i class="itsaicon-arrows-right"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">up<i class="itsaicon-arrows-up"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-arrows-up2"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">down2<i class="itsaicon-arrows-down2"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-arrows-left2"></i>left2</button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">right2<i class="itsaicon-arrows-right2"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">up2<i class="itsaicon-arrows-up2"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-arrows-up3"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">down3<i class="itsaicon-arrows-down3"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-arrows-left3"></i>left3</button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">right3<i class="itsaicon-arrows-right3"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">up3<i class="itsaicon-arrows-up3"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-arrows-up4"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">down4<i class="itsaicon-arrows-down4"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-arrows-left4"></i>left4</button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">right4<i class="itsaicon-arrows-right4"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">up4<i class="itsaicon-arrows-up4"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-arrows-up5"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">down5<i class="itsaicon-arrows-down5"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-arrows-left5"></i>left5</button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">right5<i class="itsaicon-arrows-right5"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">up5<i class="itsaicon-arrows-up5"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-arrows-up-double"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">down-double<i class="itsaicon-arrows-down-double"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-arrows-left-double"></i>left-double</button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">right-double<i class="itsaicon-arrows-right-double"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">up-double<i class="itsaicon-arrows-up-double"></i></button>
<br />
<button class="pure-button itsabutton-bordered"><i class="itsaicon-arrows-up-round"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">down-round<i class="itsaicon-arrows-down-round"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-arrows-left-round"></i>left-round</button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">right-round<i class="itsaicon-arrows-right-round"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconright">up-round<i class="itsaicon-arrows-up-round"></i></button>
