<button class="pure-button itsabutton-iconleft">
    <i class="itsaicon-controll-spin animate-spin"></i>Spin
</button>
<button class="pure-button itsabutton-iconleft">
    <i class="itsaicon-controll-spin2 animate-spin"></i>Spin2
</button>
<button class="pure-button itsabutton-iconleft">
    <i class="itsaicon-controll-spin3 animate-spin"></i>Spin3
</button>
<button class="pure-button itsabutton-iconleft">
    <i class="itsaicon-controll-spin4 animate-spin"></i>Spin4
</button>
<button class="pure-button itsabutton-iconleft">
    <i class="itsaicon-controll-spin5 animate-spin"></i>Spin5
</button>
<button class="pure-button itsabutton-iconleft">
    <i class="itsaicon-controll-spin6 animate-spin"></i>Spin6
</button>
<button class="pure-button itsabutton-iconleft">
    <i class="itsaicon-controll-spin7 animate-spin"></i>Spin7
</button>