<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-adduser"></i>Add user</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-archive"></i>Archive</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-attention"></i>Attention</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-camera"></i>Camera</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-copy"></i>Copy</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-cut"></i>Cut</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-flag"></i>Flag</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-folder"></i>Folder</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-help"></i>Help</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-home"></i>Home</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-info"></i>Info</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-info2"></i>Info2</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-lock"></i>Lock</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-minus"></i>Minus</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-minus-round"></i>Minus-round</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-movie"></i>Movie</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-music"></i>Music</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-paste"></i>Paste</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-pin"></i>Pin</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-plus"></i>Plus</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-plus-round"></i>Plus-round</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-print"></i>Print</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-remove"></i>Remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-search"></i>Search</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-settings"></i>Settings</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-spin"></i>Spin</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-spin2"></i>Spin2</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-spin3"></i>Spin3</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-spin4"></i>Spin4</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-spin5"></i>Spin5</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-spin6"></i>Spin6</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-spin7"></i>Spin7</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-tools"></i>Tools</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-unlock"></i>Unlock</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-user"></i>User</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-users"></i>Users</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-volume-down"></i>Volume-down</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-volume-off"></i>Volume-off</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-controll-volume-up"></i>Volume-up</button>