<div class="intro">
    <p>
   This module builds on top of YUI <a href="http://yuilibrary.com/yui/docs/editor/">Rich Text Editor</a> base to create a user interface for editting and formatting HTML content. Besides basic formatting support (text style, outlining, lists) it has an easy to use image upload manager and link manager. The interface is similar to the one used in Gmail to compose rich text messages.
    </p>
	<p>This module adds the following functionality:
	<ul>
	  <li>bold, italic, underline, headers, blockquote formatting support</li>
	  <li>lists create, indent and outdent support</li>
	  <li>aligning of text</li>
	  <li>advanced modal to upload, zoom, position images (needs HTML5 capable browser)</li>
	  <li>modal to for inserting links</li>
	  <li>toggle between visual and html edit mode</li>
	  <li>html is stripped from unwanted tags and styles</li>
	  <li>html is transformed to use html5 semantic tags</li>
	  <li>html is formatted for clear outline</li>
	  <li>visual edit mode can be matched with your existing style</li>
	  <li>clear styling from elements</li>
	  <li>copy+paste events are stripped from unwanted html</li>
	</ul>
	</p>
</div>	

<h2>Description</h2>

<p>The module extends a &lt;textarea&gt; node in a form.</p>
<p>Their are currently limited configuration and skinning options available.</p>
<p>The module was designed to be more lightweight and completely based on the YUI3 framework unlike CKeditor or tinyMCE.</p

<h2>Example</h2>
A textarea field containing the default html is obligated:
```
<form method="post" id="postForm">
  <textarea id="editContent">
    <!-- example html encoded -->
    Hello &lt;strong&gt;World&lt;/strong&gt;!
  </textarea>
  <button type="submit">Save</button>
</form>
```
Gallery module init:
```
<script>
	Y.on('domready', function() {
		{{>example-js}}
	});
</script>
```

<h2>Configuration</h2>
<p>Default text is picked up from the textarea content.</p>

<p>Instead of submitting the data to a form you can also get the content for your own call with getContent():<p>
```
<script>
	Y.on('domready', function() {
		{{>example-js-non-submit}}
	});
</script>
```

<h2>Backend Setup</h2>
<p>Resize and crop image script please see the example file assets/upload.phps which uses ImageMagick.</p>

<h2>Known issues</h2>
<p>The image manager module only supports HTML5 capable browsers, and has no fallback. IE<=10 Seems to have issues with the image uploader.</p>

<h2>Todo</h2>
<ul>
<li>Image border, float left/right</li>
<li>Undo/redo support</li>
<li>Editor.Render() call</li>
<li>Accessibility</li>
<li>Skins</li>
</ul>



