<div class="intro">
<p>This example shows how to use `FWTreeView` to create a basic TreeView.</p>
</div>
<div class="example yui3-skin-sam">
<div id="container"></div>
<script>

YUI().use('gallery-fwt-treeview', function (Y) {
{{>tree-simple-code}}
});
</script>

</div>
<h3>Creating a simple `FWTreeView` instance</h3>


<p>The FWTreeView module allows you to create a simple tree structure.
All you need is to provide a basic structure for the tree and a dom element (div) in which to
render it.</p>

```

YUI().use('gallery-fwt-treeview', function (Y) {
{{>tree-simple-code}}
});
```
