<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-edit-cut"></i>cut</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-edit-edit"></i>edit</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-edit-remove"></i>remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-edit-duplicate"></i>duplicate</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-edit-copy"></i>copy</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-edit-paste"></i>paste</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-edit-save"></i>save</button>