<style type="text/css">
    #container {
        width: 100%;
        min-height: 50px;
        border: solid 1px #D4D8EB;
        background-color: #F9F9FC;
    }
    button.pure-button {
        display: block;
        margin-bottom: 0.5em;
    }
    #status:before {
        content: "Number of Nodes inside Y.Node._instances:";
        padding-right: 1em;
    }
    #status {
        display: block;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .smalldiv {
        background-color: #F0F1F8;
        border: solid 1px #D4D8EB;
        margin: 5px;
        width: 40px;
        height: 40px;
        display: inline-block;
        *display: block;
        *zoom: 1;
    }
</style>