<button id="addbutton" class="pure-button itsabutton-bordered">Add node</button>
<button id="clearbutton" class="pure-button itsabutton-bordered">Whipe nodes retaining memoryleak</button>

<div id="status"></div>
<div id="container"></div>