.comment {
    display: block;
    font-size: 10px;
    margin-top: 16px;
}
#container {
    display: block;
}

#container.pure-form-aligned .pure-control-group label {
    width: 18em;
}
#container.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 17em;
}
.editorclass {
    border: solid 1px #000;
}