<form id="container1" class="pure-form pure-form-aligned pure-form-showinvalid container hiddencontainer"></form>
<form id="container2" class="pure-form pure-form-aligned pure-form-showinvalid container hiddencontainer"></form>