.comment {
    display: block;
    font-size: 10px;
    margin-top: 16px;
}
#container {
    display: block;
    font-family: proxima-nova ,sans-serif;
    color: #777;
    font-size: 120%;
}

#container.pure-form-aligned .pure-control-group label {
    width: 18em;
}
#container.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 17em;
}
.editorclass {
    border: solid 1px #000;
}
.pure-form-stacked label[data-widgetlabel="true"] + div.itsa-widget-parent.fixmargin {
    margin-bottom: 3.05em;
}