<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-down"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-down-mirror"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-left"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-right"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-thumbs-up"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-thumbs-up2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-thumbs-down"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-thumbs-down2"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-up"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-hands-up-mirror"></i></button>