/*   Paginator Bar CSS  */
<style>
.pagBar {
    font-size: 12px;
    padding:   4px 0;
}
    #pagBarACont {
            padding:    3px 0 0 2px;
            width:      600px;
            height:     23px;
        }

        #pagBarACont a.yui3-pagview-link-page {
            color:            black;
            background-color: #f0f0f0;
            border:           1px solid #d3d3d3;
            text-decoration:  none;
            padding:          4px;
            margin:           0 10px 0 0;
        }


        #pagBarACont img .yui3-pagview-link-page .pgControls {
            width:          auto;
            background:     none;
            height:         12px;
            padding:        0 4px;
            border:         none;
            vertical-align: middle;
            cursor:         pointer;
        }

</style>