<script type="text/x-template" id="tmpl-basic-D">
    <a href="#" data-pglink="first" class="{pageLinkClass}" title="First Page">First</a>
    <a href="#" data-pglink="prev" class="{pageLinkClass}" title="Prior Page">Prev</a>
    {pageLinks}
    <a href="#" data-pglink="next" class="{pageLinkClass}" title="Next Page">Next</a>
    <a href="#" data-pglink="last" class="{pageLinkClass}" title="Last Page">Last</a>
</script>

<div id="pagBasicDCont" class="pagBasic example"></div>
