<script type="text/x-template" id="tmpl-bar-A">
    <img src="/yui/images/glyph/glyphicons_170_step_backward.png" class="pgControls {pageLinkClass}" data-pglink="first" title="First Page" border="0" />
    <img src="/yui/images/glyph/glyphicons_173_backTES.png" class="pgControls {pageLinkClass}" data-pglink="prev" title="Prior Page" border="0" />
    {inputPage} of {totalPages}
    <img src="/yui/images/glyph/glyphicons_173_play.png" class="pgControls {pageLinkClass}" data-pglink="next" title="Next Page" border="0" />
    <img src="/yui/images/glyph/glyphicons_178_step_forward.png" class="pgControls {pageLinkClass}" data-pglink="last" title="Last Page" border="0" />
    <span style="float:right;margin-right:20px;margin-top:2px;">Rows per Page: {selectRowsPerPage}</span>
</script>
<div id="pagBarACont" class="pagBar yui3-pagview-bar"></div>
