new Y.PaginatorView({
    model:              new Y.PaginatorModel({  page:2, itemsPerPage:50, totalItems:500 }),
    container:          '#pagBasicDCont',
    paginatorTemplate:  '#tmpl-basic-D',
    linkListOffset:		1,
    maxPageLinks:		5,
    pageLinkTemplate:  '<a href="#" data-pglink="{page}" class="{pageLinkClass}"  title="Page {page}">{pageStartIndex} to {pageEndIndex}</a>'
}).render();