<div data-role="photogrid">
 <div data-icon="..." data-img="..." data-width="..." data-height="..."></div>
 <div data-icon="..." data-img="..." data-width="..." data-height="..."></div>
 <div data-icon="..." data-img="..." data-width="..." data-height="..."></div>
 ...
</div>
