<div data-role="loader">
 Click this <a href="some_ajax" data-action="append">Label 1</a> to append new data.
 Click this <a href="some_ajax2" data-action="insert">Label 2</a> to insert data before everything in this module.
 Click this <a href="some_ajax3" data-action="refresh">Label 3</a> to clear all data then insert new data into this module.
</div>
