<div data-role="slidetab">
 <ul>
  <li>tab 1</li>
  <li>tab 2</li>
  <li>tab 3</li>
  ...
 </ul>
 <div>
  <div>content 1 ....</div>
  <div>content 2 ....</div>
  <div>content 3 ....</div>
  ...
 </div>
</div>

