 <div data-role="page"{{{majorAttrs}}}>
  <div id="container" data-role="container"{{{containerAttrs}}}>
   <div data-role="header"{{{headerAttrs}}}>
    <div class="left" id="fbtn"><img src="../assets/img/hd_icon4.png" align="absmiddle"/></div>
    <div class="center"><img src="../assets/img/yahoo_logo.png" align="absmiddle"/> Mobile</div>
    <div class="right" id="ufbtn"><img src="../assets/img/hd_icon5.png" align="absmiddle"/></div>
   </div>
   <div class="bd" data-role="body">
    <div class="subheader">Subheader goes here...</div>
    <form><input type="text"><select><option>TEXT</option><option>IMAGE</option><input type="submit" value="SEARCH"></form>
    <ul id="list_content">
     <li><h2><img src="../assets/img/tmp1.png"/>Item1</h2></li>
     <li><h2><img src="../assets/img/tmp2.png"/>Item2</h2></li>
     <li><h2><img src="../assets/img/tmp3.png"/>Item3</h2></li>
     <li><h2><img src="../assets/img/tmp4.png"/>Item4</h2></li>
{{#unless lessContent}}
     <li><h2><img src="../assets/img/tmp5.png"/>Item5</h2></li>
     <li><h2><img src="../assets/img/tmp6.png"/>Item6</h2></li>
     <li><h2><img src="../assets/img/tmp7.png"/>Item7</h2></li>
     <li><h2><img src="../assets/img/tmp1.png"/>Item8</h2></li>
     <li><h2><img src="../assets/img/tmp2.png"/>Item9</h2></li>
     <li><h2><img src="../assets/img/tmp3.png"/>Item10</h2></li>
     <li><h2><img src="../assets/img/tmp4.png"/>Item11</h2></li>
     <li><h2><img src="../assets/img/tmp5.png"/>Item12</h2></li>
     <li><h2><img src="../assets/img/tmp6.png"/>Item13</h2></li>
     <li><h2><img src="../assets/img/tmp7.png"/>Item14</h2></li>
     <li><h2><img src="../assets/img/tmp8.png"/>Item15</h2></li>
{{/unless}}
    </ul>
   </div>
   <div data-role="footer"{{{footerAttrs}}}>
    &copy;&nbsp;2012 Yahoo! Taiwan Inc. All Rights Reserved.
   </div>
  </div>
 </div>
