<script src="http://yui.yahooapis.com/{{{yuiVersion}}}/build/yui/yui-{{#if debug}}debug{{else}}min{{/if}}.js"></script>
{{#if yuiParams}}{{#if examples}}{{#unless galleryTag}}<script src="{{projectAssets}}/yui_config.js"></script>{{/unless}}{{/if}}
{{else}}<script src="{{projectAssets}}/yui_config.js"></script>{{/if}}
