<div data-role="loader"{{{loaderAttrs}}}>
 <a href="#" data-action="insert">Get Update</a>
 <p>This is a test. yes, this is a test.</p>
 <p>This is a test. yes, this is a test.</p>
 <a href="#" data-action="refresh">Refresh</a>
 <p>This is a test. yes, this is a test.</p>
 <p>This is a test. yes, this is a test.</p>
 <a href="./not_found.html">not found</a>
 <p>This is a test. yes, this is a test.</p>
 <p>This is a test. yes, this is a test.</p>
 <a href="#" data-action="replace">... expand ...</a>
 <p>This is a test. yes, this is a test.</p>
 <p>This is a test. yes, this is a test.</p>
 <p>This is a test. yes, this is a test.</p>
 <img src="http://placehold.it/100x100" alt="index.html" />
 <p>This is a test. yes, this is a test.</p>
 <p>This is a test. yes, this is a test.</p>
 <a href="#">Load More</a>
</div>
