 <ul data-role="carousel"{{{carouselAttrs}}}>
  <li>Tab 1</li>
  <li>Tab 2</li>
  <li>Tab 3</li>
  <li>Tab 4</li>
  <li>Tab 5</li>
  <li>Tab 6</li>
  <li>Tab 7</li>
  <li>Tab 8</li>
  <div></div>
  <div></div>
  <div></div>
 </ul>
