 <div data-role="viewer"{{{viewerAttrs}}}>
  <p>The Viewer Widget is a Widget provides a HTML Viewer interface.</p>
  <p>To include the source files for Mobile UI Library - Bottle and its dependencies, first load the YUI seed file if you haven't already loaded it. Then, the bottle javascript configuration file.</p>
  <pre>
&lt;script src="http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js"&gt;&lt;/script&gt;
&lt;script src="../assets/yui_config.js"&gt;&lt;/script&gt;
  </pre>
  <p>Next, create a new YUI instance for your application and populate it with the modules you need by specifying them as arguments to the YUI().use() method. YUI will automatically load any dependencies required by the modules you specify.</p>
  <ul>
   <li><img src="http://lorempixel.com/g/1000/500"></li>
   <li><img src="http://placehold.it/400x400"></li>
   <li><img src="http://placehold.it/300x300"></li>
   <li><img class="img" src="http://placehold.it/200x200"></li>
   <li><img src="http://placehold.it/100x100"></li>
  </ul>
 </div>
