<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?{{yuiVersion}}/build/cssreset/cssreset-min.css&gallery-2012.09.12-20-02/build/gallery-bottle/assets/skins/sam/gallery-bottle.css">
