<label for="date">Date:</label><input name="date" id="date" value="1985-06-08"/>

<script>
YUI({gallery: "gallery-2013.03.06-21-07"}).use("gallery-datepicker", function (Y) {
    new Y.DatePicker({input: "#date"});
});
</script>
</div>
