<div id="scrollanim-container">
	<div id="verticalScrollArea">
	    <section id="kittens">
		    <article>
			    <h2 id="mainTitle">Simple Scrolling Animation</h2>
			    <p>Please scroll down!</p>
	            <img src="http://placekitten.com/300/200">
	        </article>
 	        <img src="http://placekitten.com/200/300">
            <img src="http://placekitten.com/300/300">
            <img src="http://placekitten.com/240/360">
            <img src="http://placekitten.com/350/250">        
        </section>
        <section id="dogs">
		    <article>
			    <h2 id="secondTitle">Lorem Ipsum</h2>
			    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis blandit metus. Duis nec fringilla sapien. In fermentum hendrerit odio in egestas. Pellentesque sit amet mauris dui. Phasellus id tortor arcu. Fusce nec risus vitae dui laoreet gravida. Curabitur ullamcorper ipsum sit amet erat congue pharetra. Integer aliquam interdum nulla, eget egestas leo commodo non. Integer a dictum nibh. Phasellus a urna ac lorem luctus ultricies in at nisl.</p>
	        </article>
 	        <img src="http://placedog.com/200/300">
            <img src="http://placedog.com/300/300">
            <img src="http://placedog.com/240/360">
            <img src="http://placedog.com/350/250">    
        </section>
    </div>
</div>