<button class="pure-button itsabutton-bordered"><i class="itsaicon-grid-sort-down"></i></button>
<button class="pure-button itsabutton-bordered"><i class="itsaicon-grid-sort-up"></i></button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-grid-detail"></i>Details</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-grid-large"></i>Large icons</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-grid-list"></i>List</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-grid-small"></i>Small icons</button>