
.yui3-widget-mask .yui3-widget-modal-shim {
    position:absolute;
    top:0;
    left:0;
    margin:0;
    border:0;
    padding:0;
    z-index:-1;
    width:100%;
    height:100%;
    _width:0;
    _height:0;
    opacity:0;
    filter:alpha(opacity=0)
}

