<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

<div class="intro">
    <p>
        {{description}}
    </p>
</div>

{{>toggle-animation-html}}

<h2>Complete Example Source</h2>
```
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

<body>

{{>toggle-animation-html}}

<script>
{{>toggle-animation-js}}
</script>

</body>
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>toggle-animation-js}}
</script>