<div class="intro component">
    <p>
        This extension to Y.Node overrides scrollIntoView(). The default browser behavior always places the element at the top or bottom of its container. This override is smart enough to not scroll if the element is already visible.
    </p>
    <p>
In addition, if the body does not have a scrollbar, this override will not scroll the body. The default browser behavior sometimes does, and then there is no way to recover.
    </p>
</div>

{{>getting-started}}
