<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">

<div class="intro">
    <p>
        {{description}}
    </p>
    <p>
        When switching the booleanvalue 'maried', new formelements appear in the panel.
    </p>
</div>

<style type="text/css">
{{>advanced-form-css}}
</style>

<h2>Code</h2>
```
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
<style type="text/css">
{{>advanced-form-css}}
</style>

<script>
{{>advanced-form-js}}
</script>

```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>advanced-form-js}}
</script>