<div class="intro">
    <p>
    This module provides a View class extension to support cell &quot;popup&quot; editors that resemble familiar HTML input elements and save changes back to the DataTable
    </p>
</div>

<h2>Description</h2>

<p>A very long complex description is coming soon ... <br>
</p>

```
YUI().use('gallery-datatable-celleditor-popup', function(Y) {


});
```

