<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add-basket"></i>Add to basket</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add-basket2"></i>Add to basket</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add-basket3"></i>Add to basket</button>
<br />
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add2-basket"></i>Add to basket</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add2-basket2"></i>Add to basket</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add2-basket3"></i>Add to basket</button>
<br />
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add3-basket"></i>Add to basket</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add3-basket2"></i>Add to basket</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-add3-basket3"></i>Add to basket</button>
<br />
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-basket"></i>Checkout</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-basket2"></i>Checkout</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-basket3"></i>Checkout</button>
<br />
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-remove"></i>Remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-remove2"></i>Remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-remove3"></i>Remove</button>
<button class="pure-button itsabutton-bordered itsabutton-iconleft"><i class="itsaicon-shop-remove4"></i>Remove</button>
